﻿

@using GridMvc.Html
@using GridMvc.Sorting
@model IEnumerable<Entity.BillingModels.CustomerBilling>
@{
    Layout = null;
}

@Html.Grid(Model).Named("billingGrid").Columns(columns =>
{
    columns.Add(model => model.CustomerBillingID).Titled("Billing ID");
    columns.Add().RenderValueAs(model => model.CustomerContract.ContractID).Titled("Contract #");
    columns.Add().RenderValueAs(model => model.BeginDate.ToShortDateString()).Titled("Begin Date");
    columns.Add().RenderValueAs(model => model.EndDate.ToShortDateString()).Titled("End Date");
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => @<a href="javascript:void();" onclick="ExportBillingToPDF('@o.CustomerBillingID');">View</a>);

}).Selectable(true)
