﻿

@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ContractModels.CustomerContract>

@{
    Layout = null;
}

@if ((bool)ViewBag.IsModalDialog)
{
    @Html.Grid(Model).Named("contractSearchResultsGrid").Columns(columns =>
        {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshContract('@o.CustomerContractID', '@o.ContractID');">Select</a>);

            columns.Add(model => model.ContractID).Titled("Contract ID");
            columns.Add(model => model.Customer.CustomerNo).Titled("Customer Number");
            columns.Add(model => model.ContractTermTypeCode.Description).Titled("Contract Term");
            columns.Add(model => model.ContractTypeCode.Description).Titled("Contract Type");

            columns.Add().RenderValueAs(o => o.Product != null ? o.Product.Name : "").Titled("Product Name");
            columns.Add().RenderValueAs(o => o.StatusCode != null ? o.StatusCode.Description : "").Titled("Status");
            columns.Add().RenderValueAs(o => o.ActiveCustomerContractProductXRef != null ? o.ActiveCustomerContractProductXRef.BeginDate.Value.ToShortDateString() : "").Titled("Effective Date");
        }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
else
{
    @Html.Grid(Model).Named("contractSearchResultsGrid").Columns(columns =>
{
columns.Add(model => model.ContractID).Titled("Contract ID");
columns.Add(model => model.Customer.CustomerNo).Titled("Customer Number");
columns.Add(model => model.ContractTermTypeCode.Description).Titled("Contract Term");
columns.Add(model => model.ContractTypeCode.Description).Titled("Contract Type");

columns.Add().RenderValueAs(o => o.Product != null ? o.Product.Name : "").Titled("Product Name");
columns.Add().RenderValueAs(o => o.StatusCode != null  ? o.StatusCode.Description : "").Titled("Status");
columns.Add().RenderValueAs(o => o.ActiveCustomerContractProductXRef != null ? o.ActiveCustomerContractProductXRef.BeginDate.Value.ToShortDateString() : "").Titled("Effective Date");
columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<a href="javascript:void();" onclick="EditContract('@o.CustomerContractID');">Edit</a>);
    columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="ViewContract('@o.CustomerContractID');">View</a>);
}).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}

@helper CustomRenderingOfColumn(Entity.ContractModels.CustomerContract contract)
{
Entity.ContractModels.CustomerContractProductXRefStage productStage = contract.ActiveDraftCustomerContractProductXRefStages.FirstOrDefault();
if (productStage != null)
{
    Html.Label(productStage.Product.Name);
}
else
{
    Html.Label(string.Empty);
}
}