﻿
@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.Model.CustomerModels.Customer>

@{
    Layout = null;
}


@if ((bool)ViewBag.IsModalDialog)
{
    @Html.Grid(Model).Named("customerSearchResultsGrid").Columns(columns =>
    {
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshCustomer('@o.CustomerID', '@o.CustomerNo');">Select</a>);
        columns.Add(model => model.CustomerNo).Titled("Customer No");
        columns.Add(model => model.LastName).Titled("Last Name");
        columns.Add(model => model.FirstName).Titled("First Name");
        columns.Add(model => model.Email).Titled("Email");
        columns.Add(model => model.Mobile).Titled("Mobile");

    }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
else
{
    @Html.Grid(Model).Named("customerSearchResultsGrid").Columns(columns =>
    {
    columns.Add(model => model.CustomerNo).Titled("Customer No");
    columns.Add(model => model.LastName).Titled("Last Name");
    columns.Add(model => model.FirstName).Titled("First Name");
    columns.Add(model => model.Email).Titled("Email");
    columns.Add(model => model.Mobile).Titled("Mobile");
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => @<a href="javascript:void();" onclick="EditCustomer('@o.CustomerID');">Edit</a>);
    columns.Add()
      .Encoded(false)
      .Sanitized(false)
      .SetWidth(30)
      .RenderValueAs(o => @<a href="javascript:void();" onclick="ViewCustomer('@o.CustomerID');">View</a>);

    }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
    }


    
    