﻿

@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ProductModels.Discount>

@{
    Layout = null;
}

@if ((bool)ViewBag.IsModalDialog)
{
    @Html.Grid(Model).Named("discountSearchResultsGrid").Columns(columns =>
        {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshDiscount('@o.DiscountID');">Select</a>);

            columns.Add(model => model.DiscountID).Titled("Discount ID");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Description).Titled("Description");
        }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
else
{
    @Html.Grid(Model).Named("discountSearchResultsGrid").Columns(columns =>
    {
    columns.Add(model => model.DiscountID).Titled("Discount ID");
    columns.Add(model => model.Name).Titled("Name");
    columns.Add(model => model.Description).Titled("Description");
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => @<a href="javascript:void();" onclick="EditDiscount('@o.DiscountID');">Edit</a>);
    columns.Add()
       .Encoded(false)
       .Sanitized(false)
       .SetWidth(30)
       .RenderValueAs(o => @<a href="javascript:void();" onclick="ViewDiscount('@o.DiscountID');">View</a>);


    }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
