﻿

@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ProductModels.Product>

@{
    Layout = null;
}

@if ((bool)ViewBag.IsModalDialog)
{
    @Html.Grid(Model).Named("productSearchResultsGrid").Columns(columns =>
        {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshProduct('@o.ProductID', '@o.Name');">Select</a>);

            columns.Add(model => model.ProductID).Titled("Product ID");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Description).Titled("Description");
        }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
else
{
    @Html.Grid(Model).Named("productSearchResultsGrid").Columns(columns =>
{
columns.Add(model => model.ProductID).Titled("Product ID");
columns.Add(model => model.Name).Titled("Name");
columns.Add(model => model.Description).Titled("Description");
columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<a href="javascript:void();" onclick="EditProduct('@o.ProductID');">Edit</a>);
 columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => @<a href="javascript:void();" onclick="ViewProduct('@o.ProductID');">View</a>);


}).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}

