﻿
@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ProductModels.Product>

@{
     Layout = null;
}

@Html.Grid(Model).Named("productSearchResultsGrid").Columns(columns =>
{
    columns.Add(model => model.Name)
     .Encoded(false)
     .Sanitized(false)
     .SetWidth(30)
     .RenderValueAs(o => CustomRenderingOfColumn(o));

    columns.Add(model => model.ProductID).Titled("Product ID");
    columns.Add(model => model.Description).Titled("Description");
}).Selectable(true)

  
@helper CustomRenderingOfColumn(Entity.ProductModels.Product product)
        {
            if (product.HasActiveContract)
            {
                    <input type="button" disabled value="Select" />
            }
            else
            {
                    <input type="button" onclick="RefreshProduct('@product.ProductID', '@product.Name');" value="Select" />
            }
        }




