﻿

@model  COBRA.Models.ContractSearchCriteriaModel
@{
    if (Model.ContractIsModalDialog)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSearch.cshtml";
    }

}

<div id="divContractSearch">    
    <div id="divContractSearchForm">
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmContractSearch" }))
        {
            @Html.Hidden("ContractIsModalDialog", Model.ContractIsModalDialog)
            @Html.Hidden("ActionType", Model.ActionType)

            <div class="divSubHeader">
                Search Contract
            </div>

            <div class="tablebox-border-max400">
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Customer ID")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.CustomerID)
                            @Html.ValidationMessageFor(model => model.CustomerID)
                            <button name="btnSearchCustomer" id="btnSearchCustomer" type="button" onclick="SearchCustomers();"><i class="fa fa-search"></i></button>
                        </div>
                    </div>

                    <div class="twoCol-2-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Contract ID")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.ContractID)
                            @Html.ValidationMessageFor(model => model.ContractID)
                        </div>
                    </div>
                </div>
            </div>

            <div class="divButton-right">
                <button name="btnSearch" id="btnSearch" type="submit"><i class="fa fa-search"></i>  Search</button>
            </div>          
        }
    </div>

    <div id="divContractSearchResults" class="SearchResults">
        @*<div class="divButton-right">
            <a href="javascript:void();" onclick="ExportToPDF();">PDF</a>
        </div>*@ 

        @{ Html.RenderAction("GetDefaultSearchResults", "Contract"); }
    </div>
</div>


@{

    // This is to initiate Service search as Modal Dialog
    COBRA.Models.CustomerSearchCriteriaModel searchModel = new COBRA.Models.CustomerSearchCriteriaModel();
    searchModel.IsModalDialog = true;
    Html.RenderPartial("Search/_SearchCustomer", searchModel);
}

<script language="javascript">

    $(document).ready(function() {
        if ($("#CustomerID").val() == 0)
            $("#CustomerID").val("");

        var tempUrl = '@Url.Action("GetSearchResults", "Contract")';
        var tempUrlPaged = '@Url.Action("GetSearchResultsPaged", "Contract")';
        pageGrids.contractSearchResultsGrid.ajaxify({
            getPagedData: tempUrlPaged,
            getData: tempUrl,
            gridFilterForm: $('#frmContractSearch')
        });
    })

    var isContractSearchModalDialog = $("#ContractIsModalDialog").val().toLowerCase();
    var divContractSearch = "divContractSearch";
    var divContractSearchResults = "divContractSearchResults";
    var frmContractSearch = "frmContractSearch";

    // Only if Search window has to open in Modal Dialog
    if (isContractSearchModalDialog == "true") {
        InitializeDialog(divContractSearch);
    }
 
    function OpenContractSearchDialog()
    {
       // $("#" + frmContractSearch)[0].reset();
        //$("#" + divContractSearchResults).html("");
        OpenDialog(divContractSearch);
    }

    function CloseContractSearchDialog() {
        CloseDialog(divContractSearch);
    }

    function EditContract(tempContractID) {
        var tempUrl = '@Url.Action("CreateOrEdit", "Contract", new { pContractID = -999 })';
        tempUrl = tempUrl.replace("-999", tempContractID);
        location.href = tempUrl;
    }

    function ViewContract(tempContractID) {
        var tempUrl = '@Url.Action("Details", "Contract", new { pContractID = -999 })';
        tempUrl = tempUrl.replace("-999", tempContractID);
        location.href = tempUrl;
    }

    function ConfirmContractStatus(tempContractID) {
        var tempUrl = '@Url.Action("ConfirmContractStatusChange", "Contract")';
        var postData = { pCustomerContractID: tempContractID };
        AjaxCallPostByData(tempUrl, "divStatus_" + tempContractID, postData);


        if ($("#divStatus_" + tempContractID).html() != "Errored") {
            $("#btnConfirm_" + tempContractID).attr("disabled", "disabled");
            $("#btnCancel_" + tempContractID).attr("disabled", "disabled");
        }

    }

    function CancelContractStatusChange(tempContractID) {
        var tempUrl = '@Url.Action("CancelContractStatusChange", "Contract")';
        var postData = { pCustomerContractID: tempContractID };
        AjaxCallPostByData(tempUrl, "divStatus_" + tempContractID, postData);

        if ($("#divStatus_" + tempContractID).html() != "Errored") {
            $("#btnConfirm_" + tempContractID).attr("disabled", "disabled");
            $("#btnCancel_" + tempContractID).attr("disabled", "disabled");
        }
            
    }

    function UpdateContractStatus(tempContractID, actionType) {
        var tempUrl = '@Html.Raw(Url.Action("ContractStatusUpdate", "Contract", new { pCustomerContractID = -111, pActionType = -222}))';        
        tempUrl = tempUrl.replace("-111", tempContractID);
        tempUrl = tempUrl.replace("-222", actionType);
        location.href = tempUrl;

    }

    function UpgradeContract(tempContractID) {
        var tempUrl = '@Html.Raw(Url.Action("UpgradeContract", "Contract", new { pCustomerContractID = -111}))';
        tempUrl = tempUrl.replace("-111", tempContractID);        
        location.href = tempUrl;
    }

    function SearchCustomers() {
        OpenCustomerSearchDialog();
    }

    function RefreshCustomer(tempCustomerID, customerNo) {
        $("#CustomerID").val(tempCustomerID);
        CloseCustomerSearchDialog();
    }

    function ExportToPDF() {
        var tempUrl = '@Url.Action("SearchResultsToPDF", "Contract")';
        window.open(tempUrl, "_blank");
    }
</script>