﻿

@model  COBRA.Models.ServiceSearchCriteriaModel
@{
    if (Model.IsModalDialog)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSearch.cshtml";
    }
}

<div id="divServiceSearch">
    <div id="divServiceSearchForm">
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmServiceSearch" }))
            {
            @Html.Hidden("IsModalDialog", Model.IsModalDialog)

            <div class="divSubHeader">
                Search Service
            </div>

            <div class="tablebox-border-max400">
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Service Name")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.ServiceName)  
                        </div>
                    </div>
                    <div class="twoCol-2-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Service Type")
                        </div>
                        <div class="CellControl">
                            @Html.DropDownList("TypeCodeID", (SelectList)ViewBag.SerViceTypeCodeList, string.Empty)
                        </div>
                    </div>
                </div>              
            </div>
       
            <div class="divButton-right">
                <button name="btnSearch" id="btnSearch" type="submit"><i class="fa fa-search"></i>  Search</button>
            </div>
        }
    </div>

    <div id="divServiceSearchResults" class="SearchResults">
        @{ Html.RenderAction("GetDefaultSearchResults", "Service"); }
    </div>
</div>



<script language="javascript">

    $(document).ready(function () {

        var tempUrl = '@Url.Action("GetSearchResults", "Service")';
        var tempUrlPaged = '@Url.Action("GetSearchResultsPaged", "Service")';
        pageGrids.serviceSearchResultsGrid.ajaxify({
            getPagedData: tempUrlPaged,
            getData: tempUrl,
            gridFilterForm: $('#frmServiceSearch')
        });
    });

    var isServiceSearchModalDialog = $("#IsModalDialog").val().toLowerCase();
    var divServiceSearch = "divServiceSearch";
    var divServiceSearchResults = "divServiceSearchResults";
    var frmServiceSearch = "frmServiceSearch";

    // Only if Search window has to open in Modal Dialog
    if (isServiceSearchModalDialog == "true") {
        InitializeDialog(divServiceSearch);
    }

  
    function OpenServiceSearchDialog() {        
        //$("#" + frmServiceSearch)[0].reset();
        //$("#" + divServiceSearchResults).html("");
        OpenDialog(divServiceSearch);
    }

    function CloseServiceSearchDialog() {
        CloseDialog(divServiceSearch);
    }

    function EditService(tempServiceID) {
        var tempUrl = '@Url.Action("CreateOrEdit", "Service", new { pServiceID = -999 })';
        tempUrl = tempUrl.replace("-999", tempServiceID);
        location.href = tempUrl;
    }

    function ViewService(tempServiceID) {
        var tempUrl = '@Url.Action("Details", "Service", new { pServiceID = -999 })';
        tempUrl = tempUrl.replace("-999", tempServiceID);
        location.href = tempUrl;
    }

</script>
