﻿


@model  COBRA.Models.DiscountSearchCriteriaModel
@{
    if (Model.IsModalDialog)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSearch.cshtml";
    }
}

<div id="divDiscountSearch">   
    <div id="divDiscountSearchForm">
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmDiscountSearch" }))
        {
            @Html.Hidden("IsModalDialog", Model.IsModalDialog)

            <div class="divSubHeader">
                Search Product
            </div>

            <div class="tablebox-border-max400">
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Discount Name")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.DiscountName)
                        </div>
                    </div>
                </div>
            </div>

            <div class="divButton-right">
                <button name="btnSearch" id="btnSearch" type="submit"><i class="fa fa-search"></i>  Search</button>
            </div>          
        }
    </div>

    <div id="divDiscountSearchResults" class="SearchResults">
        @{ Html.RenderAction("GetDefaultDiscountSearchResults", "Product"); }
    </div>
</div>

<script language="javascript">

    $(document).ready(function () {

        var tempUrl = '@Url.Action("GetDiscountSearchResults", "Product")';
        var tempUrlPaged = '@Url.Action("GetDiscountSearchResultsPaged", "Product")';
        pageGrids.discountSearchResultsGrid.ajaxify({
            getPagedData: tempUrlPaged,
            getData: tempUrl,
            gridFilterForm: $('#frmDiscountSearch')
        });
    });

    var isDiscountSearchModalDialog = $("#IsModalDialog").val().toLowerCase();
    var divDiscountSearch = "divDiscountSearch";
    var divDiscountSearchResults = "divDiscountSearchResults";
    var frmDiscountSearch = "frmDiscountSearch";

    // Only if Search window has to open in Modal Dialog
    if (isDiscountSearchModalDialog == "true") {
        InitializeDialog(divDiscountSearch);
    }

    function OpenDiscountSearchDialog()
    {
       // $("#" + frmDiscountSearch)[0].reset();
        //$("#" + divDiscountSearchResults).html("");
        OpenDialog(divDiscountSearch);
    }

    function CloseDiscountSearchDialog() {
        CloseDialog(divDiscountSearch);
    }

    function EditDiscount(tempDiscountID) {
        var tempUrl = '@Url.Action("Discount", "Product", new { pDiscountID = -999 })';
        tempUrl = tempUrl.replace("-999", tempDiscountID);
        location.href = tempUrl;
    }

    function ViewDiscount(tempDiscountID) {
        var tempUrl = '@Url.Action("DiscountDetails", "Product", new { pDiscountID = -999 })';
        tempUrl = tempUrl.replace("-999", tempDiscountID);
        location.href = tempUrl;
    }

</script>