﻿


@model  COBRA.Models.ProductSearchCriteriaModel
@{
    if (Model.IsModalDialog)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSearch.cshtml";
    }
}

<div id="divProductSearch">
    <div id="divProductSearchForm">
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmProductSearch" }))
            {
                @Html.Hidden("IsModalDialog", Model.IsModalDialog)
                @Html.Hidden("productContractTermTypeCodeID", Model.productContractTermTypeCodeID);
                @Html.Hidden("productCustomerID", Model.productCustomerID);
                @Html.Hidden("IsContractProductSearch", Model.IsContractProductSearch);

            <div class="divSubHeader">
                Search Product
            </div>

            <div class="tablebox-border-max400">
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Product Description")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.ProductDescription)
                        </div>
                    </div>                    
                </div>
            </div>

            <div class="divButton-right">
                <button name="btnSearch" id="btnSearch" type="submit"><i class="fa fa-search"></i>  Search</button>
            </div>            
        }
    </div>

    <div id="divProductSearchResults" class="SearchResults">
        @{ Html.RenderAction("GetDefaultProductSearchResults", "Product"); }
    </div>
</div>

<script language="javascript">
    
    $(document).ready(function () {

        var tempUrl = '@Url.Action("GetProductSearchResults", "Product")';
        var tempUrlPaged = '@Url.Action("GetProductSearchResultsPaged", "Product")';
        pageGrids.productSearchResultsGrid.ajaxify({
            getPagedData: tempUrlPaged,
            getData: tempUrl,
            gridFilterForm: $('#frmProductSearch')
        });
    });

    var isProductSearchModalDialog = $("#IsModalDialog").val().toLowerCase();
    var divProductSearch = "divProductSearch";
    var divProductSearchResults = "divProductSearchResults";
    var frmProductSearch = "frmProductSearch";

    // Only if Search window has to open in Modal Dialog
    if (isProductSearchModalDialog == "true") {
        InitializeDialog(divProductSearch);
    }

    function OpenProductSearchDialog() {       
        OpenDialog(divProductSearch);
    }
   
    function CloseProductSearchDialog() {
        CloseDialog(divProductSearch);
    }

    function EditProduct(tempProductID) {
        var tempUrl = '@Url.Action("CreateOrEdit", "Product", new { pProductID = -999 })';
        tempUrl = tempUrl.replace("-999", tempProductID);
        location.href = tempUrl;
    }

    function ViewProduct(tempProductID) {
        var tempUrl = '@Url.Action("Details", "Product", new { pProductID = -999 })';
        tempUrl = tempUrl.replace("-999", tempProductID);
        location.href = tempUrl;
    }

</script>
