﻿

@model  COBRA.Models.ServiceGroupSearchCriteriaModel
@{
    if (Model.IsModalDialog)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSearch.cshtml";
    }
}

<div id="divServiceGroupSearch">    
    <div id="divServiceGroupSearchForm">
        @using (Html.BeginForm(null, null, null, FormMethod.Post, new { id = "frmServiceGroupSearch" }))
        {
            @Html.Hidden("IsModalDialog", Model.IsModalDialog)
            <div class="divSubHeader">
                Search Service Group
            </div>

            <div class="tablebox-border-max400">
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Service Group Name")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.ServiceGroupName)
                        </div>
                    </div>                   
                </div>
            </div>
            <div class="divButton-right">
                <button name="btnSearch" id="btnSearch" type="submit"><i class="fa fa-search"></i>  Search</button>
            </div>          
        }
    </div>

    <div id="divServiceGroupSearchResults" class="SearchResults">
        @{ Html.RenderAction("GetDefaultSearchResults", "ServiceGroup"); }
    </div>

</div>


<script language="javascript">

    $(document).ready(function () {

        var tempUrl = '@Url.Action("GetSearchResults", "ServiceGroup")';
        var tempUrlPaged = '@Url.Action("GetSearchResultsPaged", "ServiceGroup")';
        pageGrids.serviceGroupSearchResultsGrid.ajaxify({
            getPagedData: tempUrlPaged,
            getData: tempUrl,
            gridFilterForm: $('#frmServiceGroupSearch')
        });
    });


    var isServiceGroupSearchModalDialog = $("#IsModalDialog").val().toLowerCase();
    var divServiceGroupSearch = "divServiceGroupSearch";
    var divServiceGroupSearchResults = "divServiceGroupSearchResults";
    var frmServiceGroupSearch = "frmServiceGroupSearch";

    // Only if Search window has to open in Modal Dialog
    if (isServiceGroupSearchModalDialog == "true") {
        InitializeDialog(divServiceGroupSearch);
    }

  
    function OpenServiceGroupSearchDialog() {
       // $("#" + frmServiceGroupSearch)[0].reset();
        //$("#" + divServiceGroupSearchResults).html("");
        OpenDialog(divServiceGroupSearch);
    }

    function CloseServiceGroupSearchDialog() {
        CloseDialog(divServiceGroupSearch);
    }

    function EditServiceGroup(tempServiceGroupID) {
        var tempUrl = '@Url.Action("CreateOrEdit", "ServiceGroup", new { pServiceGroupID = -999 })';
        tempUrl = tempUrl.replace("-999", tempServiceGroupID);
        location.href = tempUrl;
    }

    function ViewServiceGroup(tempServiceGroupID) {
        var tempUrl = '@Url.Action("Details", "ServiceGroup", new { pServiceGroupID = -999 })';
        tempUrl = tempUrl.replace("-999", tempServiceGroupID);
        location.href = tempUrl;
    }
   
</script>

