﻿

@model  COBRA.Models.CustomerSearchCriteriaModel
@{
    if (Model.IsModalDialog)
    {
        Layout = null;
    }
    else
    {
        Layout = "~/Views/Shared/_LayoutSearch.cshtml";
    }

    ViewBag.Title = "Search Customer";
}

<div id="divCustomerSearch">    
    <div id="divCustomerSearchForm">
        @using (Html.BeginForm(null, null, null,  FormMethod.Post, new { id = "frmCustomerSearch" }))
        {
            @Html.Hidden("IsModalDialog", Model.IsModalDialog)
            
            <div class="divSubHeader">
                Search Customer
            </div>
            <div class="tablebox-border-max400">
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Last Name")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.SLastName)
                        </div>
                    </div>
                    <div class="twoCol-2-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("First Name")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.SFirstName)
                        </div>
                    </div>
                </div>

                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Mobile #")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.SMobile)
                        </div>
                    </div>
                    <div class="twoCol-2-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Email Address #")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.SEmail)
                        </div>
                    </div>
                </div>

                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Area / Address")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.SAddress)
                        </div>
                    </div>
                    <div class="twoCol-2-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.Label("Unique #")
                        </div>
                        <div class="CellControl">
                            @Html.TextBoxFor(model => model.SCustomerNo)
                        </div>
                    </div>
                </div>
            </div>
             
            <div class="divButton-right">      
                <button name="btnSearch" id="btnSearch" type="submit"><i class="fa fa-search"></i>  Search</button>                          
            </div>                                          
        }
    </div>

    <div id="divCustomerSearchResults" class="SearchResults">
        <div class="divButton-right">
            <a href="javascript:void();" onclick="ExportToPDF();">PDF</a>            
        </div> 
                                                 
        @{ Html.RenderAction("GetDefaultSearchResults", "Customer"); }
    </div>
</div>


<script language="javascript">
    $(document).ready(function () {
        
        var tempUrl = '@Url.Action("GetSearchResults", "Customer")';
        var tempUrlPaged = '@Url.Action("GetSearchResultsPaged", "Customer")';
        pageGrids.customerSearchResultsGrid.ajaxify({
            getPagedData: tempUrlPaged,
            getData: tempUrl,
            gridFilterForm: $('#frmCustomerSearch')
        });
    });

    var isCustomerSearchModalDialog = $("#IsModalDialog").val().toLowerCase();
                var divCustomerSearch = "divCustomerSearch";
                var divCustomerSearchResults = "divCustomerSearchResults";
                var frmCustomerSearch = "frmCustomerSearch";

    // Only if Search window has to open in Modal Dialog
    if (isCustomerSearchModalDialog == "true") {
        InitializeDialog(divCustomerSearch);
            }

         
            function OpenCustomerSearchDialog()
            {                
                //$("#" + frmCustomerSearch)[0].reset();
                //$("#" + divCustomerSearchResults).html("");
                OpenDialog(divCustomerSearch);
            }

            function CloseCustomerSearchDialog() {
                CloseDialog(divCustomerSearch);
            }

            function EditCustomer(tempCustomerID) {
                var tempUrl = '@Url.Action("Registration", "Customer", new { pCustomerID = -999 })';
                tempUrl = tempUrl.replace("-999", tempCustomerID);
                location.href = tempUrl;
            }

            function ViewCustomer(tempCustomerID) {
                var tempUrl = '@Url.Action("Details", "Customer", new { pCustomerID = -999 })';
                tempUrl = tempUrl.replace("-999", tempCustomerID);
                location.href = tempUrl;
            }

            function ExportToPDF() {
                var tempUrl = '@Url.Action("SearchResultsToPDF", "Customer")';                
                window.open(tempUrl, "_blank");                
            }       
    
</script>
