﻿
@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ProductModels.ServiceGroup>

@{
    Layout = null;
}

@if ((bool)ViewBag.IsModalDialog)
{
    @Html.Grid(Model).Named("serviceGroupSearchResultsGrid").Columns(columns =>
        {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshServiceGroup('@o.ServiceGroupID', '@o.Description');">Select</a>);

            columns.Add(model => model.ServiceGroupID).Titled("Service ID");
            columns.Add(model => model.Name).Titled("Service Name");
            columns.Add(model => model.Description).Titled("Description");
        }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
else
{
    @Html.Grid(Model).Named("serviceGroupSearchResultsGrid").Columns(columns =>
{
columns.Add(model => model.ServiceGroupID).Titled("Service ID");
columns.Add(model => model.Name).Titled("Service Name");
columns.Add(model => model.Description).Titled("Description");
columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<a href="javascript:void();" onclick="EditServiceGroup('@o.ServiceGroupID');">Edit</a>);
columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<a href="javascript:void();" onclick="ViewServiceGroup('@o.ServiceGroupID');">View</a>);
}).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
