﻿
@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ProductModels.Service>

@{ 
    Layout = null;
}

@if ((bool)ViewBag.IsModalDialog)
{
    @Html.Grid(Model).Named("serviceSearchResultsGrid").Columns(columns =>
        {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshService('@o.ServiceID', '@o.Description');">Select</a>);

            columns.Add(model => model.ServiceID).Titled("Service ID");
            columns.Add(model => model.Name).Titled("Service Name");
            columns.Add(model => model.Description).Titled("Description");
            columns.Add(model => model.Attribute).Titled("Attribute");
        }).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
else
{
    @Html.Grid(Model).Named("serviceSearchResultsGrid").Columns(columns =>
{
columns.Add(model => model.ServiceID).Titled("Service ID");
columns.Add(model => model.Name).Titled("Service Name");
columns.Add(model => model.Description).Titled("Description");
columns.Add(model => model.Attribute).Titled("Attribute");
columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<a href="javascript:void();" onclick="EditService('@o.ServiceID');">Edit</a>);
    columns.Add()
    .Encoded(false)
    .Sanitized(false)
    .SetWidth(30)
    .RenderValueAs(o => @<a href="javascript:void();" onclick="ViewService('@o.ServiceID');">View</a>);
}).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
}
