﻿

@model Entity.ProductModels.DiscountDetailXRef


@{
    Layout = null;
}

@{
    int index = 0;
    if (ViewData["DiscountDetailXRefIndex"] != null)
    {
        index = (int)ViewData["DiscountDetailXRefIndex"];
    }

    string idPrefix = Html.GetModelPrefix(Model, index);

    if (Model != null)
    {
        Html.AddDefualtHTMLAttributes(model => model.CustomerCategoryCodeID);
        Html.AddDefualtHTMLAttributes(model => model.CityCodeID);        
    }
}

<tr id="DiscountDetailXRefRow@(index)">

    @Html.GenerateHiddenControlsForReadOnly(Model, index)

    <td>
        @Html.TextBox(idPrefix + "ProductName", (Model == null || Model.Product == null) ? string.Empty : Model.Product.Name, new { @readonly = "readonly" })

        @if (Model != null && !Model.CanWrite)
        {
            <button name="btnSearchProduct" id="btnSearchProduct" type="button" disabled><i class="fa fa-search"></i></button>
        }
        else
        {
            <button name="btnSearchProduct" id="btnSearchProduct" type="button" onclick="OpenSearchProduct(@index);"><i class="fa fa-search"></i></button>            
            @Html.CustomValidationMessageFor(model => model.ProductID, index)            
        }
    </td>
    <td>
        @Html.CustomDropDownFor(model => model.CustomerCategoryCodeID, Model, index)
        @Html.CustomValidationMessageFor(model => model.CustomerCategoryCodeID, index)
    </td>
    <td>
        @Html.CustomDropDownFor(model => model.CityCodeID, Model, index)
        @Html.CustomValidationMessageFor(model => model.CityCodeID, index)
    </td>
    <td>
        @Html.CustomEditorFor(model => model.BeginDate, false, index)
        @Html.CustomValidationMessageFor(model => model.BeginDate, index)
    </td>
    <td>
        @Html.CustomEditorFor(model => model.EndDate, false, index)
        @Html.CustomValidationMessageFor(model => model.EndDate, index)
    </td>   
    <td>
        @Html.CustomEditorFor(model => model.Discount, false, index)
        @Html.CustomValidationMessageFor(model => model.Discount, index)

        @if (Model != null && Model.CanDelete)
        {
            <button name="btnDelete" id="btnDelete" type="button" onclick="DeleteDiscountDetailXRef(@index);"><i class="fa fa-trash"></i></button>            
        }
    </td>
</tr>
