﻿@model Entity.ProductModels.Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}


@using (Html.BeginForm("CreateOrEdit", "Product", FormMethod.Post, new { id = "frmProduct" }))
{
    @Html.AntiForgeryToken()
    <div class="flexContainer">
        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(model => model.ProductID)
        @Html.GenerateHiddenControlsForReadOnly(Model)

        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }

            if (Model != null)
            {
                Html.AddDefualtHTMLAttributes(model => model.TypeCodeID);
                Html.AddDefualtHTMLAttributes(model => model.ContractTypeCodeID);
                Html.AddDefualtHTMLAttributes(model => model.StatusCodeID);
            }
        }

        <div class="divSubHeader">
            Product
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ProductID, "Product ID")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.ProductID, true)
                        @Html.ValidationMessageFor(model => model.ProductID)
                    </div>
                </div>

                <div class="twoCol-2-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Name, "Name")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Name, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Description, "Description")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Description, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>

                <div class="twoCol-2-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.TypeCodeID, "Type")
                    </div>
                    <div class="CellControl">
                        @Html.CustomDropDownFor(model => model.TypeCodeID, Model)
                        @Html.ValidationMessageFor(model => model.TypeCodeID)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ContractTypeCodeID, "Contract Type")
                    </div>
                    <div class="CellControl">
                        @Html.CustomDropDownFor(model => model.ContractTypeCodeID, Model)
                        @Html.ValidationMessageFor(model => model.ContractTypeCodeID)
                    </div>
                </div>

                <div class="twoCol-2-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.StatusCodeID, "Status")
                    </div>
                    <div class="CellControl">
                        @Html.CustomDropDownFor(model => model.StatusCodeID, Model)
                        @Html.ValidationMessageFor(model => model.StatusCodeID)
                    </div>
                </div>
               
            </div>
         
            <div class="rowSmartLayout">
                
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.BeginDate, "Begin Date")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.BeginDate, isReadOnly)
                        @Html.ValidationMessageFor(model => model.BeginDate)
                    </div>
                </div>

                <div class="twoCol-2-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.EndDate, "End Date")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.EndDate, isReadOnly)
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Select")
                    </div>
                    <div class="CellControl">
                        @Html.RadioButton("rdIsServiceGroup", 0, true, Model != null && Model.ReadOnlyProperties.Contains("ServiceGroupID") ? new { @disabled = "disabled" } : null)
                        @Html.Label("IsServiceGroup", "ServiceGroup")

                        @Html.RadioButton("rdIsService", 0, false, Model != null && Model.ReadOnlyProperties.Contains("ServiceID") ? new { @disabled = "disabled" } : null)
                        @Html.Label("IsService", "Service")
                    </div>
                </div>

                <div class="twoCol-2-CellSmartLayout" id="divServiceGroup">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ServiceGroupID)
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.ServiceGroupID, true)
                        @if (Model != null && Model.ReadOnlyProperties.Contains("ServiceGroupID"))
                        {                            
                            <button name="btnSearchServiceGroup" id="btnSearchServiceGroup" type="button" disabled><i class="fa fa-search"></i></button>
                        }
                        else
                        {
                            <button name="btnSearchServiceGroup" id="btnSearchServiceGroup" type="button" onclick="OpenSearchServiceGroups();"><i class="fa fa-search"></i></button>                            
                        }
                        @Html.ValidationMessageFor(model => model.ServiceGroupID)
                    </div>
                </div>

                <div class="twoCol-2-CellSmartLayout" id="divService">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ServiceID)
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.ServiceID, true)
                        @if (Model != null && Model.ReadOnlyProperties.Contains("ServiceID"))
                        {                            
                            <button name="btnSearchService" id="btnSearchService" type="button" disabled><i class="fa fa-search"></i></button>
                        }
                        else
                        {                            
                            <button name="btnSearchService" id="btnSearchService" type="button" onclick="OpenSearchServices();"><i class="fa fa-search"></i></button>
                        }


                        @Html.ValidationMessageFor(model => model.ServiceID)
                    </div>
                </div>
            </div> 
        </div>

       
            <div class="divSubHeader">
                Pricing Information
            </div>

            <div class="tablebox-border-maxheight" id="divProductPricingList" >

                @if (Model != null && Model.ServiceID > 0)
                {
                    Html.RenderAction("PricingDetailXRefList", "Service", new { pServiceID = Model.ServiceID, pContractTermTypeCodeID = Model.ContractTypeCodeID, pVersion = Model.Version });
                }
                else if (Model != null && Model.ServiceGroupID > 0)
                {
                    Html.RenderAction("PricingDetailXRefList", "ServiceGroup", new { pServiceGroupID = Model.ServiceGroupID, pContractTermTypeCodeID = Model.ContractTypeCodeID, pVersion = Model.Version });
                }
            </div>        

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
        </div>
    </div>    
}

@{
    // This is to initiate Service search as Modal Dialog
    COBRA.Models.ServiceSearchCriteriaModel searchServiceModel = new COBRA.Models.ServiceSearchCriteriaModel();
    searchServiceModel.IsModalDialog = true;
    Html.RenderPartial("Search/_SearchService", searchServiceModel);
}

@{
    // This is to initiate Service search as Modal Dialog
    COBRA.Models.ServiceGroupSearchCriteriaModel searchServiceGrouphModel = new COBRA.Models.ServiceGroupSearchCriteriaModel();
    searchServiceGrouphModel.IsModalDialog = true;
    Html.RenderPartial("Search/_SearchServiceGroup", searchServiceGrouphModel);
}

@section Scripts {
    

    <script language="javascript">

    HideDeletedRows("tableProductDetailXrefs", "ProductDetailXRefs");

    if ($("#ServiceID").val() != "") {
        $("#divService").show();
        $("#divServiceGroup").hide();
        $("#rdIsServiceGroup").removeAttr("checked");
        $("#rdIsService").prop("checked", true);
    }
    else {
        $("#divService").hide();
        $("#divServiceGroup").show();
        $("#rdIsService").removeAttr("checked");
        $("#rdIsServiceGroup").prop("checked", true);
    }

    $("#rdIsServiceGroup").click(function () {
        $("#rdIsService").removeAttr("checked");
        $("#divService").hide();
        $("#divServiceGroup").show();
        $("#ServiceID").val("");
    });

    $("#rdIsService").click(function () {
        $("#rdIsServiceGroup").removeAttr("checked");
        $("#divService").show();
        $("#divServiceGroup").hide();
        $("#ServiceGroupID").val("");
    });

   
    function RefreshServiceGroup(tempServiceGroupID, tempServiceGroup) {
        $("#ServiceGroupID").val(tempServiceGroupID);
        var tempCntractTermTypeCodeID = $("#ContractTypeCodeID").val();

        CloseServiceGroupSearchDialog();

        if (tempCntractTermTypeCodeID <= 0) {
            alert("Please select Contract Term!!");
            return;
        }

        var tempUrl = '@Url.Action("PricingDetailXRefList", "ServiceGroup")';
        var postData = { pserviceGroupID: tempServiceGroupID, pContractTermTypeCodeID: tempCntractTermTypeCodeID };
        AjaxCallGet(tempUrl, "#divProductPricingList", postData);
    }

    function RefreshService(tempServiceID, tempServiceDesc) {
            $("#ServiceID").val(tempServiceID);
            var tempCntractTermTypeCodeID = $("#ContractTypeCodeID").val();

            CloseServiceSearchDialog();

            if (tempCntractTermTypeCodeID <= 0) {
                alert("Please select Contract Term!!");
                return;
            }

            var tempUrl = '@Url.Action("PricingDetailXRefList", "Service")';
            var postData = { pserviceID: tempServiceID, pContractTermTypeCodeID: tempCntractTermTypeCodeID };
            AjaxCallGet(tempUrl, "#divProductPricingList", postData);
        }

        $("#ContractTypeCodeID").change(function () {
            var tempServiceID = $("#ServiceID").val();
            var tempServiceGroupID = $("#ServiceGroupID").val();
            var tempSContractTypeCodeID = $("#ContractTypeCodeID").val();

            if (tempServiceID > 0) {
                RefreshService(tempServiceID, "");
                return;
            }

            if (tempServiceGroupID > 0) {
                RefreshServiceGroup(tempServiceGroupID, "");
                return;
            }
        });

        function OpenSearchServices() {
            OpenServiceSearchDialog();
        }

        function OpenSearchServiceGroups() {
            OpenServiceGroupSearchDialog();
        }
    </script>
}
