﻿@model Entity.ProductModels.Discount
@{
    ViewBag.Title = "Discount";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("hdnSearchResult")
    <div class="flexContainer">
        @Html.ValidationSummary(true)        
        @Html.GenerateHiddenControlsForReadOnly(Model)
        @Html.Hidden("DiscountDetailIndex", Model == null ? 0 : Model.DiscountDetailXRefs.Count)

        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }
            else
            {
                Html.AddDefualtHTMLAttributes(model => model.TypeCodeID);
                Html.AddDefualtHTMLAttributes(model => model.CategoryCodeID);
            }
        }

        <div class="divSubHeader">
            Discount
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.DiscountID, "Discount ID")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.DiscountID, true)
                        @Html.ValidationMessageFor(model => model.DiscountID)
                    </div>
                </div>
            </div>
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Name, "Name")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Name, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Name)                        
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Description, "Description")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Description, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.CategoryCodeID, "Discount Category")
                    </div>
                    <div class="CellControl">
                       @Html.CustomDropDownFor(model => model.CategoryCodeID, Model)
                        @Html.ValidationMessageFor(model => model.CategoryCodeID)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.TypeCodeID, "Discount Type")
                    </div>
                    <div class="CellControl">
                        @Html.CustomDropDownFor(model => model.TypeCodeID, Model)
                        @Html.ValidationMessageFor(model => model.TypeCodeID)
                    </div>
                </div>
            </div>
           
        </div>

        <div class="divSubHeader">
            Discount Details
        </div>

        <div id="divDiscountDetailXRefList" class="tablebox-border-maxheight">
            <div>
                <button name="btnDiscountDetailNew" id="btnDiscountDetailNew" type="button"><i class="fa fa-plus"></i>  Discount</button>
            </div>
            <table id="tableDiscountDetailXrefList" class="htmlTable-css">
                <thead>                 
                    <tr>
                        <th>
                            Product Name
                        </th>
                        <th>
                            Customer Category
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Start Date
                        </th>
                        <th>
                            End Date
                        </th>
                        <th>
                            Value
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        ViewData.Add("DiscountDetailXRefIndex", 0);
                        if (Model != null)
                        {
                            List<Entity.ProductModels.DiscountDetailXRef> discountDetailXRefList = Model.DiscountDetailXRefs.ToList();
                            for (int index = 0; index < discountDetailXRefList.Count; index++)
                            {
                                ViewData["DiscountDetailXRefIndex"] = index;
                                Html.RenderPartial("_DiscountDetailXRef", discountDetailXRefList[index]);
                            }
                        }
                    }
                </tbody>

            </table>

        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
        </div>
    </div>
}


@{
    // This is to initiate Product search as Modal Dialog
    COBRA.Models.ProductSearchCriteriaModel searchModel = new COBRA.Models.ProductSearchCriteriaModel();
    searchModel.IsModalDialog = true;
    Html.RenderPartial("Search/_SearchProduct", searchModel);
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script language="javascript">

    HideDeletedRows("tableDiscountDetailXrefList", "DiscountDetailXRefs");

    function OpenSearchProduct(index) {
        $("#hdnSearchResult").val(index);        
        OpenProductSearchDialog();
    }

    function RefreshProduct(tempProductID, tempProductDesc) {
        var index = $("#hdnSearchResult").val();        
        var objID = $("#DiscountDetailXRefs_" + index + "__ProductID");
        var objName = $("#DiscountDetailXRefs_" + index + "__ProductName");        
        objID.val(tempProductID);
        objName.val(tempProductDesc);
        CloseProductSearchDialog();
    }

    // To create anew Pricing Row
    $("#btnDiscountDetailNew").click(function () {
        var tempUrl = '@Url.Action("CreateDiscountDetailXRef", "Product")';
        CreateNewTableRowByIndex("tableDiscountDetailXrefList", tempUrl, "DiscountDetailIndex");
    });

    // Delete Discount Detail Row
    function DeleteDiscountDetailXRef(selectedIndex) {
        DeleteRow(selectedIndex, "tableDiscountDetailXrefList", "DiscountDetailXRefs");
    }
   
    </script>
}
