﻿@model IEnumerable<Entity.ProductModels.Product>
@using GridMvc.Html;
@{
    Layout = null;
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Product</title>
    <script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/app/api.js" type="text/javascript"></script>
    <script src="/Scripts/app/ui.js" type="text/javascript"></script>
    <script src="/Scripts/gridmvc.min.js" type="text/javascript"></script>
    <script src="/Scripts/gridmvc.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/Gridmvc.css">
    <link rel="stylesheet" type="text/css" href="/Content/Site.css">

</head>

<body>

        <div class="sectionheading">
        <div class="heading">PRODUCT SEARCH</div>
    </div>
    @using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.Label("Product Description", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("ProductDescription")
            </div>
        </div>

        <input type="submit" id="btnSubmit" value="Search" />

    }

    @Html.Grid(Model).Named("orderedGrid").Columns(columns =>
        {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshProduct('@o.ProductID');">Select</a>);

            columns.Add(model => model.ProductID).Titled("Product ID");
            columns.Add(model => model.Name).Titled("Name");
            columns.Add(model => model.Description).Titled("Description");
        }).Selectable(true)
</body>

</html>

<script language="javascript">
    function RefreshProduct(productID) {
        window.close();
        window.opener.self.RefreshProduct(productID);
    }

</script>

