﻿@{
    Layout = null;
}



<style type="text/css">

    * {
        padding: 0;
        margin: 0;
    }

  
</style>


<p><input type='checkbox' class='checkbox' id="check01" /><label for="check01">Checkbox</label></p>
<p><input type='checkbox' class='checkbox' id="check02" /><label for="check02">Checkbox2</label></p>


<p><input type='radio' value="male" id="male" name="gender" /> <label for="male">Male</label></p>
<p><input type='radio' value="Female" id="female" name="gender" /> <label for="female">Female</label></p>


<!-- DISABLED -->
<p><input type='checkbox' value="male" disabled /> <label> disabled </label></p>
<p><input type='radio' value="24" name="age" disabled /> <label> disabled</label></p>


<!-- CHECKED DISABLED -->
<p><input type='checkbox' value="male" checked disabled /> <label>checked disabled </label></p>
<p><input type='radio' value="24" name="age" checked disabled /> <label>checked disabled</label></p>

