﻿@*<div class="body-box">
    <form>
        <div class="flexContainer">
            <div class="divSubHeader">
                Customer Details
            </div>

            <div class="tablebox-border-max400">
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />

                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
            </div>

            <div class="divSubHeader">
                Parent Child Information
            </div>

            <div class="tablebox-border-maxheight">
                Form content
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />

                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />
                Form content<br />

            </div>
        </div>



    </form>
   
</div>*@

<div class="rowSmartLayout">
    <div class="twoCol-1-CellSmartLayout">
        <img src=" @Url.Action("CategoryWiseCustomerReport", "Report")" />  
    </div>
     <div class="twoCol-2-CellSmartLayout">
         <img src=" @Url.Action("ProductWiseContractReport", "Report")" />   
     </div>    
</div>
<div class="rowSmartLayout">
    <div class="twoCol-1-CellSmartLayout">
        <img src=" @Url.Action("ContractStatusSplitupReport", "Report")" />
    </div>
    <div class="twoCol-2-CellSmartLayout">
        <img src=" @Url.Action("RegionWiseBillingReport", "Report")" />
    </div>
</div>