﻿
@model IEnumerable<Entity.ContractModels.Customer>
@using GridMvc.Html;
@{
    Layout = null;
}

<html>
<body>

    @Html.Grid(Model).Named("orderedGrid").Columns(columns =>
   {       
       columns.Add(model => model.CustomerID).Titled("Customer ID");
       columns.Add(model => model.LastName).Titled("Last Name");
       columns.Add(model => model.FirstName).Titled("First Name");
   }).Selectable(true)  

</body>

</html>
