﻿@model IEnumerable<Entity.ContractModels.CustomerContractProductXRefStage>

<table class="table">
@{
    decimal overallTotal = 0;
}    
@foreach (var item in Model) {
    if (item.HasInstanceChanged)
    {
        overallTotal = overallTotal + item.EffectiveTotalCharges;
        <tr>
        <table>
            <tr>
                <td>Plan Name</td>
                <td>Service(s)</td>
                <td>Charges</td>
                <td>Price</td>
            </tr>
            <tr>
                <td rowspan="7">
                    @item.ProductDescription
                </td>
                <td rowspan="7">
                    @item.ServiceNames
                </td>
                <td>
                    Subscription
                </td>
                <td>
                    @item.SubscriptionCharges.ToString()
                </td>
            </tr>
            <tr>
                <td>
                    OneTime
                </td>
                <td>
                    @item.OneTimeCharges.ToString()
                </td>
            </tr>
            <tr>
                <td>
                    Installation
                </td>
                <td>
                    @item.Installation.ToString()
                </td>
            </tr>
            <tr>
                <td>
                    Tax
                </td>
                <td>
                    @item.Tax.ToString()
                </td>
            </tr>
            <tr>
                <td>
                    Discount
                </td>
                <td>
                    @item.Discount.ToString()
                </td>
            </tr>
            <tr>
                <td>
                    Instances
                </td>
                <td>
                    @item.Instances.ToString()
                </td>
            </tr>
            <tr>
                <td>
                    Total
                </td>
                <td>
                    @item.EffectiveTotalCharges.ToString()
                </td>
            </tr>
        </table>        
    </tr>
    }
    else if (item.HasStatusChanged)
    {
        <tr>
            <td>Status Changed @item.StatusCode.Description. Do you want to confirm?</td>
        </tr>
    }
}
    @if (overallTotal > 0)
    {
            <tr>
            <td>
                Overall Amount
            </td>
            <td>
                @overallTotal
            </td>
        </tr>
    }

    
    
    
</table>
