﻿
@model Entity.ContractModels.CustomerContract
@using Entity.ContractModels;

<h4 class="text-danger">Contract Cart ID - @Model.CustomerContractCartID</h4>
@using (Html.BeginForm("ConfirmContract", "Contract", FormMethod.Post, new { id = "frmContract" }))
{
    @Html.AntiForgeryToken();
    @Html.CustomHiddenFor(model => model.CustomerContractCartID, Model)
    @Html.CustomHiddenFor(model => model.CustomerContractID, Model)
    
    <table class="sectionfields" cellspacing="0" cellpadding="0" align="left">
        <tr class="rowstyle">
            <td id="uxPgCPH_tdpartytype" class="column1">
                <div class="form-horizontal">
                    <div class="sectionheading">
                        <div class="heading">ORDER CONFIRMATION</div>
                    </div>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.ContractID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CustomerID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.CustomerID)
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ContractTermTypeCodeID, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DisplayFor(model => model.ContractTermTypeCode.Description)
                        </div>
                    </div>

                    <div id="SelectedProductList">
                        <table class="table" id="tableProductList" width="100%">
                            <thead>
                            </thead>
                            <tbody>
                                @{
                                    List<CustomerContractProductXRefCart> activeProducts = Model.ActiveCustomerContractProductXRefCarts.ToList();                                        
                                    Html.RenderPartial("_CartConfirmationProductXRefList", activeProducts);
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input name="btnsave" type="submit" id="btnsave" class="btnsave" value="Confirm Changes"  />
                        </div>
                        <div class="col-md-offset-2 col-md-10"> 
                            <input name="btnsave" type="button" id="btnsave" class="btnsave" value="Go Back" onclick="GoBackToCart(@Model.CustomerContractCartID);" />
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </table>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/ViewCommonFunc.js")
    <script language="javascript">
        function GoBackToCart(cartID) {
            
            var tempUrl = '@Url.Action("CreateOrEdit", "Contract", new { pContractID = -999 })';
            tempUrl = tempUrl.replace("-999", cartID);
            location.href = tempUrl;
        }
    </script>
}
