﻿@model Entity.ContractModels.CustomerContract
@using Entity.ContractModels;


@using (Html.BeginForm("ContractSummary", "Contract", FormMethod.Post, new { id = "frmContract" }))
{
    @Html.AntiForgeryToken();
    @Html.GenerateHiddenControlsForReadOnly(Model)

    <div class="form-box-default-margin">

        <div class="divSubHeader">
            Order Confirmation
        </div>

        <div class="tablebox-border-maxheight">
            <div class="rowSmartLayout">
                <div class="threeCol-1-CellSmartLayout">
                    <div class="CellLabelFixed-100">
                        Contract ID
                    </div>
                    <div class="CellData">
                        @Html.DisplayFor(model => model.ContractID)
                    </div>
                </div>
                <div class="threeCol-2-CellSmartLayout">
                    <div class="CellLabelFixed-100">
                        Customer ID
                    </div>
                    <div class="CellData">
                        @Html.DisplayFor(model => model.CustomerID)
                    </div>
                </div>
                <div class="threeCol-3-CellSmartLayout">
                    <div class="CellLabelFixed-100">
                        Contract Term
                    </div>
                    <div class="CellData">
                        @Html.DisplayFor(model => model.ContractTermTypeCode.Description)
                    </div>
                </div>
            </div>

            @if (Model.ActionType != Infrastructure.CustomerContractActionType.InstanceDownGrade)
            {

                <div id="SelectedProductList" class="rowSmartLayout">
                    @{Html.RenderAction("ContractBillingSummary", new { customerContractID = Model.CustomerContractID });}
                </div>
            }
                   
        </div>

        <div class="divButton-right">
            <input name="btnsave" type="submit" id="btnsave" class="btnsave" value="Confirm Changes" />
            <input name="btnsave" type="button" id="btnsave" class="btnsave" value="Go Back" onclick="GoBackToContract(@Model.CustomerContractID);" />
        </div>

    </div>    
 }

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/ViewCommonFunc.js")
    <script language="javascript">
        function GoBackToContract(contractID) {

            var tempUrl = '@Url.Action("CreateOrEdit", "Contract", new { pContractID = -999 })';
            tempUrl = tempUrl.replace("-999", contractID);
            location.href = tempUrl;
        }
    </script>
}


