﻿


@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ContractModels.CustomerContract>

@{
    Layout = null;
}

@Html.Grid(Model).Named("contractSearchResultsGrid").Columns(columns =>
{
columns.Add(model => model.ContractID).Titled("Contract ID");
columns.Add().RenderValueAs(model => (model.Product == null ? string.Empty : model.Product.Name)).Titled("Product");
columns.Add().RenderValueAs(model => (model.ActiveCustomerContractProductXRef != null) ? model.ActiveCustomerContractProductXRef.BeginDate.Value.ToShortDateString() : string.Empty).Titled("Date Of Request");

columns.Add()
.Encoded(false)
.Sanitized(false)
.RenderValueAs(o => @<div id="divStatus_@o.CustomerContractID">@(o.StatusCode == null ? string.Empty : o.StatusCode.Description)</div>)
.Titled("Current Status");

columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<input type="button" id="btnConfirm_@o.CustomerContractID" onclick="UpdateContractStatus('@o.CustomerContractID', '@ViewBag.ActionType');" value="@ViewBag.ActionType" />);


}).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
