﻿

@using GridMvc.Html
@using GridMvc.Sorting
@model Grid.Mvc.Ajax.GridExtensions.AjaxGrid<Entity.ContractModels.CustomerContract>

@{
    Layout = null;
}

@Html.Grid(Model).Named("contractSearchResultsGrid").Columns(columns =>
{
columns.Add(model => model.ContractID).Titled("Contract ID");
columns.Add().RenderValueAs(model => (model.Product == null ? string.Empty : model.Product.Name)).Titled("Product");
columns.Add().RenderValueAs(model => (model.ActiveCustomerContractProductXRef != null) ? model.ActiveCustomerContractProductXRef.BeginDate.Value.ToShortDateString() : string.Empty).Titled("Date Of Request");

columns.Add()
    .Encoded(false)
.Sanitized(false)
    .RenderValueAs(o => @<div id ="divStatus_@o.CustomerContractID">@(o.InitiatedStatusChangeRequest == null ? string.Empty : o.InitiatedStatusChangeRequest.StatusCode.Description)</div>)
.Titled("Current Status");

columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<button id="btnConfirm_@o.CustomerContractID" type="button" onclick="ConfirmContractStatus('@o.CustomerContractID');"> Confirm</button>);


columns.Add()
.Encoded(false)
.Sanitized(false)
.SetWidth(30)
.RenderValueAs(o => @<button id = "btnCancel_@o.CustomerContractID" type="button" onclick = "CancelContractStatusChange('@o.CustomerContractID');" > Cancel</button>);



}).Selectable(true).Sortable(true).Filterable(true).WithPaging(Infrastructure.ApplicationKeys.PageSize)
