﻿@model Entity.ContractModels.CustomerContractProductXRefStage                        
@using COBRA.Models;
@{
    int index = 0;
    //if (ViewData["CustomerContractProductXRefStageIndex"] != null)
    //{
    //    index = (int)ViewData["CustomerContractProductXRefStageIndex"];
    //}

    Layout = null;
}

<div id="divCustomerContractProductXRefStageRow@(index)">
    @Html.GenerateHiddenControlsForReadOnly(Model, index)
    <div class="tablebox-border-max400">
        <div class="rowSmartLayout">           
            <div class="twoCol-1-CellSmrtLayout-30">
                <div class="rowSmartLayout">
                    <div class="CellLabel">
                        Plan Name
                    </div>
                    <div class="CellControl">                        
                        @Html.TextBox("ProductName", (Model == null ) ? string.Empty : Model.ProductDescription, new { @readonly = "readonly" })
                        @Html.CustomValidationMessageFor(model => model.ProductID, index)
                        @if (Model != null && Model.CustomerContract != null && Model.CustomerContract.CustomerContractProductXRefs.Count > 0)
                        {
                            <button name="btnSearchProduct" id="btnSearchProduct" type="button" disabled><i class="fa fa-search"></i> </button>
                        }
                        else
                        {
                            <button name="btnSearchProduct" id="btnSearchProduct" type="button" onclick="OpenSearchProducts();"><i class="fa fa-search"></i> </button>
                        }                        
                    </div>
                </div>

                <div class="rowSmartLayout">
                    <div class="CellLabel">
                        Instances
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Instances, false, index)
                        @Html.CustomValidationMessageFor(model => model.Instances, index)
                    </div>
                </div>

                <div class="rowSmartLayout">
                    <div class="CellLabel">
                        Effective Date
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.BeginDate, false, index)
                        @Html.CustomValidationMessageFor(model => model.BeginDate, index)
                    </div>
                </div>
            </div>

            <div class="twoCol-2-CellSmartLayout-70" id="divProductPricingList">
                @if (Model.ProductPricings != null)
                {
                    Html.RenderPartial("_ProductPricingList", Model.ProductPricings);                
                }                
            </div>
        </div>
    </div>
</div>



