﻿
@model IEnumerable<COBRA.Models.ProductPricing>
@using GridMvc.Html;
@{
    Layout = null;
}

<div class="rowSmartLayout">
    <div class="CellLabel">
        Service(s)
    </div>
    @if (Model != null && Model.Count() > 0)
    {
        <div class="CellData">
            @Model.First().ServiceDescription
        </div>
    }   
</div>
<div class="rowSmartLayout">
    @Html.Grid(Model).Named("orderedGrid").Columns(columns =>
{
    columns.Add(model => model.OneTimeCharges).Titled("OneTimeCharges");
    columns.Add(model => model.SubscriptionCharges).Titled("SubscriptionCharges");
    columns.Add(model => model.EffectiveDate).Titled("EffectiveDate");
}).Selectable(true)


</div>

    

