﻿@model IEnumerable<Entity.ContractModels.Product>
@using GridMvc.Html;
    @{
        Layout = null;
    }   

    <html>    
    <body>     
       
        @Html.Grid(Model).Named("orderedGrid").Columns(columns =>
        {
            columns.Add(model => model.IsActiveInCustomerContract)
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => CustomRenderingOfColumn(o))
            .Titled("");            
            columns.Add(model => model.ProductID).Titled("Product ID");
            columns.Add(model => model.Description).Titled("Description");
        }).Selectable(true)

        @helper CustomRenderingOfColumn(Entity.ContractModels.Product product)
        {
            if (product.IsActiveInCustomerContract)
            {
                <input type="button" disabled value="Add" />
            }
            else
            {
                <input type="button"  onclick="AddProduct('@product.ProductID');" value="Add" />
            }
        }

    </body>

</html>
