﻿@model Entity.ContractModels.CustomerContractAdhocDiscountXRef
@{
    ViewBag.Title = "AdhocDiscount";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true)
        @Html.GenerateHiddenControlsForReadOnly(Model)
        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }

            if (Model != null)
            {
                Html.AddDefualtHTMLAttributes(model => model.DiscountTypeCodeID);                
            }
        }

        <div class="divSubHeader">
            Adhoc Discount
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmrtLayout-30">

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.CustomerID)
                        </div>
                        <div class="CellControl">
                            @Html.TextBox("CustomerNo", (string)ViewBag.ContractCustomerNo, new { @readonly = "readonly" })
                            @if (Model != null && Model.RecordVersion > 0)
                            {
                                <button name="btnSearchCustomer" id="btnSearchCustomer" type="button" disabled><i class="fa fa-search"></i> </button>
                            }
                            else
                            {
                                <button name="btnSearchCustomer" id="btnSearchCustomer" type="button" onclick="OpenSearchCustomers();"><i class="fa fa-search"></i> </button>
                            }
                            @Html.ValidationMessageFor(model => model.CustomerID)
                        </div>
                    </div>

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.CustomerContractID)
                        </div>
                        <div class="CellControl">
                            @Html.CustomEditorFor(model => model.CustomerContractID, true)
                            @Html.ValidationMessageFor(model => model.CustomerContractID)                            
                        </div>
                    </div>

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.DiscountTypeCodeID, "Discount Type")
                        </div>
                        <div class="CellControl">
                            @Html.CustomDropDownFor(model => model.DiscountTypeCodeID, Model)
                            @Html.ValidationMessageFor(model => model.DiscountTypeCodeID)
                        </div>
                    </div>

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.Discount, "Discount")
                        </div>
                        <div class="CellControl">
                            @Html.CustomEditorFor(model => model.Discount, false)
                            @Html.ValidationMessageFor(model => model.Discount)
                        </div>
                    </div>                
                </div>

                <div class="twoCol-2-CellSmartLayout-70">
                    <div id="divCustomerDetails">
                        @if (Model != null && Model.CustomerID > 0)
                        {
                            Html.RenderAction("DisplayCustomerInfo", "Customer", new { pCustomerID = Model.CustomerID });
                        }
                    </div>
                </div>
            </div>
        </div>

        <div class="divButton-right">
            @if (Model != null && Model.CanWrite)
            {
                <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
            }
            else
            {
                <button name="btnsave" type="submit" disabled><i class="fa fa-save"></i>  Save</button>
            }
        </div>
    </div>
}


@{

    // This is to initiate Service search as Modal Dialog
    //COBRA.Models.CustomerSearchCriteriaModel searchModel = new COBRA.Models.CustomerSearchCriteriaModel();
    //searchModel.IsModalDialog = true;
    //Html.RenderPartial("Search/_SearchCustomer", searchModel);

    // This is to initiate Service search as Modal Dialog
    COBRA.Models.ContractSearchCriteriaModel searchModel = new COBRA.Models.ContractSearchCriteriaModel();
    searchModel.ContractIsModalDialog = true;
    Html.RenderPartial("Search/_SearchContract", searchModel);
}




