﻿@model Entity.ContractModels.CustomerContract

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

@using (Html.BeginForm("ContractStatusUpdate", "Contract", FormMethod.Post, new { id = "frmCContract" }))
{
    @Html.AntiForgeryToken()
    <div class="form-box-default-margin">

        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(model => model.CustomerContractID)
        @Html.GenerateHiddenControlsForReadOnly(Model)
        @{
            if (Model != null)
            {
                Html.AddDefualtHTMLAttributes(model => model.viewStatusReasonCodeID);
            }
        }

        <div class="divSubHeader">
            @ViewBag.ActionType - Contract
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Customer ID") 
                    </div>
                    <div class="CellData">
                        @Html.DisplayFor(model => model.Customer.CustomerID)
                    </div>
                </div>               
            </div>        

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Customer Name")
                    </div>
                    <div class="CellData">
                        @(Model.Customer.LastName + "," + Model.Customer.FirstName)
                    </div>
                </div>               
            </div>    

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Contract ID")
                    </div>
                    <div class="CellData">
                        @Html.DisplayFor(model => model.ContractID)
                    </div>
                </div>                                         
            </div>  
            
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Mobile No")
                    </div>
                    <div class="CellData">
                        @Model.Customer.Mobile
                    </div>
                </div>

            </div>    
            
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Product Name")
                    </div>
                    <div class="CellData">
                        @Model.Product.Name
                    </div>
                </div>
            </div>    
            
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Description")
                    </div>
                    <div class="CellData">
                        @Model.Product.Description
                    </div>
                </div>
            </div>    
            
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    @if (Model != null && Model.StatusCodeID != Infrastructure.Resources.ContractProductStatusKey.Pending_Activation)
                    {
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.viewStatusReasonCodeID, "Status Reason")
                        </div>
                        <div class="CellControl">
                            @Html.CustomDropDownFor(model => model.viewStatusReasonCodeID, Model)
                            @Html.ValidationMessageFor(model => model.viewStatusReasonCodeID)
                        </div>
                    }
                    else
                    {
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.viewStatusReason, "Status Reason")
                        </div>
                        <div class="CellControl">
                            @Html.CustomEditorFor(model => model.viewStatusReason, false)
                            @Html.ValidationMessageFor(model => model.viewStatusReason)
                        </div>                     
                    }                    
                </div>
            </div>  
            
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.viewEffectiveDate, "Effective Date")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.viewEffectiveDate, false)
                        @Html.ValidationMessageFor(model => model.viewEffectiveDate)
                    </div>
                </div>
            </div>
    
        </div>

        @if (Model != null && Model.ActiveChildCustomers != null)
        {
            <div class="divSubHeader">
                Active Child Customers
            </div>

            <div class="tablebox-border-fixed150">
                @{ Html.RenderPartial("_ActiveChildCustomers", Model.ActiveChildCustomers);}
            </div>
        }
        
        <div class="divButton-right">
            @if (Model != null && Model.CanWrite)
            {
                <button name="btnsave" type="submit">@ViewBag.ActionType</button>
            }
            else
            {
                <button name="btnsave" type="submit" disabled>@ViewBag.ActionType</button>
               
            }            
        </div>
    </div>    
}
