﻿@model Entity.ContractModels.CustomerContract

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

@using (Html.BeginForm("CreateOrEdit", "Contract", FormMethod.Post, new { id = "frmContract" }))
{
    @Html.AntiForgeryToken()
    <div>
        @Html.ValidationSummary(true)        
        @Html.GenerateHiddenControlsForReadOnly(Model)                
        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }

            if (Model != null)
            {
                Html.AddDefualtHTMLAttributes(model => model.ContractTypeCodeID);
                Html.AddDefualtHTMLAttributes(model => model.ContractTermTypeCodeID);
            }
        }

        <div class="divSubHeader">
            Contract Details
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmrtLayout-30">

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.CustomerID)
                        </div>
                        <div class="CellControl">
                            @Html.TextBox("CustomerNo", (string)ViewBag.ContractCustomerNo, new { @readonly = "readonly" })
                            @if (Model != null && Model.RecordVersion > 0)
                            {
                                <button name="btnSearchCustomer" id="btnSearchCustomer" type="button" disabled><i class="fa fa-search"></i> </button>
                            }
                            else
                            {
                                <button name="btnSearchCustomer" id="btnSearchCustomer" type="button" onclick="OpenSearchCustomers();"><i class="fa fa-search"></i> </button>                                
                            }
                            @Html.ValidationMessageFor(model => model.CustomerID)
                        </div>
                    </div>

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.ContractID)
                        </div>
                        <div class="CellControl">
                            @Html.CustomEditorFor(model => model.ContractID, true)
                            @Html.ValidationMessageFor(model => model.ContractID)
                            @Html.ValidationMessageFor(model => model.CustomerContractID)
                        </div>
                    </div>

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.ContractTypeCodeID, "Contract Type")
                        </div>
                        <div class="CellControl">
                            @Html.CustomDropDownFor(model => model.ContractTypeCodeID, Model)
                            @Html.ValidationMessageFor(model => model.ContractTypeCodeID)
                        </div>
                    </div>

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.ContractTypeCodeID, "Contract Term")
                        </div>
                        <div class="CellControl">
                            @Html.CustomDropDownFor(model => model.ContractTermTypeCodeID, Model)
                            @Html.ValidationMessageFor(model => model.ContractTermTypeCodeID)
                        </div>
                    </div>  

                    <div class="rowSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.StatusCodeID, "Status")
                        </div>
                        <div class="CellData">
                            @(Model.StatusCode == null ? string.Empty : Model.StatusCode.Description)                      
                        </div>
                    </div>  
                                      
                </div>

                <div class="twoCol-2-CellSmartLayout-70">
                    <div id="divCustomerDetails">
                        @if (Model != null && Model.CustomerID > 0)
                        {
                            Html.RenderAction("DisplayCustomerInfo", "Customer", new { pCustomerID = Model.CustomerID });
                        }
                    </div>
                </div>
            </div>                              
        </div>
        
        <div class="divSubHeader">
            Selected Plan
        </div>

        <div class="tablebox-border-max400">
            <div id="divSelectedProductList">
                @{                   
                    if (Model != null && Model.DraftCustomerContractProductXRefStages.Count > 0)
                    {
                        Html.RenderPartial("_ContractProductXref", Model.DraftCustomerContractProductXRefStages.FirstOrDefault());
                    }
                }
            </div>
        </div>

        @if (Model != null && Model.CustomerContractProductXRefs.Count > 0)
        {
            <div class="divSubHeader">
                Change Log
            </div>

            <div class="tablebox-border-max400">
                <div id="divChangeLog">
                    @{
                        Html.RenderPartial("Contract/_ChangeLog", Model);
                    }
                </div>
            </div>
       }

        <div class="divButton-right">
            @if (Model != null && Model.CanWrite)
            {
                <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>            
            }
            else
            {
                <button name="btnsave" type="submit" disabled><i class="fa fa-save"></i>  Save</button>
            }
        </div>
    </div>               
}


@{

    // This is to initiate Service search as Modal Dialog
    COBRA.Models.CustomerSearchCriteriaModel searchModel = new COBRA.Models.CustomerSearchCriteriaModel();
    searchModel.IsModalDialog = true;
    Html.RenderPartial("Search/_SearchCustomer", searchModel);
}

@{

    // This is to initiate Service search as Modal Dialog
    COBRA.Models.ProductSearchCriteriaModel productSearchModel = new COBRA.Models.ProductSearchCriteriaModel();
    productSearchModel.IsModalDialog = true;
    productSearchModel.IsContractProductSearch = true;

    if (Model != null && Model.CustomerID > 0)
    {
        productSearchModel.productCustomerID = Model.CustomerID;
    }

    if (Model != null && Model.ContractTermTypeCodeID > 0)
    {
        productSearchModel.productContractTermTypeCodeID = Model.ContractTermTypeCodeID;
    }

    Html.RenderPartial("Search/_SearchProduct", productSearchModel);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval", "~/Scripts/ViewCommonFunc.js")
    <script language="javascript">

    function OpenSearchCustomers() {
        OpenCustomerSearchDialog();
    }

    function OpenSearchProducts() {

        var tempCustomerID = $("#CustomerID").val();
        var tempContractTermTypeCodeID = $("#ContractTermTypeCodeID").val();

        if (tempContractTermTypeCodeID > 0
            && tempCustomerID > 0) {
            $("#productCustomerID").val(tempCustomerID);
            $("#productContractTermTypeCodeID").val(tempContractTermTypeCodeID);
            ReInitializeProductSearchDialog();
            OpenProductSearchDialog();
        }

        else if (tempCustomerID <= 0) {
            alert("Please select Customer!!!");
        }

        else if (tempContractTermTypeCodeID <= 0) {
            alert("Please select Contract Term!!!");
        }
    }

    $("#ContractTermTypeCodeID").change(function () {
        $("#CustomerContractProductXRefStages_0__ProductID").val(0);
        $("#ProductName").val("");
    });

    function RefreshCustomer(tempCustomerID, customerNo) {
        $("#CustomerID").val(tempCustomerID);
        $("#CustomerNo").val(customerNo);
        CloseCustomerSearchDialog();

        if (tempCustomerID > 0) {         
            var tempUrl = '@Url.Action("DisplayCustomerInfo", "Customer")';
            var postData = { pCustomerID: tempCustomerID };
            AjaxCallGet(tempUrl, "#divCustomerDetails", postData);
            $("#CustomerContractProductXRefStages_0__ProductID").val(0);
            $("#ProductName").val("");
        }        
    }
        
        function RefreshProduct(tempProductID, tempProductName) {            
        var tempCustomerID = $("#CustomerID").val();
        $("#CustomerContractProductXRefStages_0__ProductID").val(tempProductID);
        $("#ProductName").val(tempProductName);
        CloseProductSearchDialog();
        
        if (tempProductID > 0
            && tempCustomerID > 0) {
            var tempUrl = '@Url.Action("LoadCustomerContractProductXRef", "Contract")';
            var postData = { pProductID: tempProductID, pCustomerID: tempCustomerID };
            AjaxCallGet(tempUrl, "#divProductPricingList", postData);        
            return;
        }
    }

        function ReInitializeProductSearchDialog() {
            var tempUrl = '@Url.Action("GetDefaultProductSearchResults", "Product")';
            AjaxCallGetByForm(tempUrl, "#divProductSearchResults", "frmProductSearch");

            var tempUrl = '@Url.Action("GetProductSearchResults", "Product")';
            var tempUrlPaged = '@Url.Action("GetProductSearchResultsPaged", "Product")';
            pageGrids.productSearchResultsGrid.ajaxify({
                getPagedData: tempUrlPaged,
                getData: tempUrl,
                gridFilterForm: $('#frmProductSearch')
            });
        }

    </script>        
}
