﻿@model IEnumerable<Entity.ContractModels.CustomerContractCart>
@using GridMvc.Html;
@{
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Search Contract</title>
    <script src="/Scripts/jquery-1.10.2.js" type="text/javascript"></script>
    <script src="/Scripts/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="/Scripts/app/api.js" type="text/javascript"></script>
    <script src="/Scripts/app/ui.js" type="text/javascript"></script>
    <script src="/Scripts/gridmvc.min.js" type="text/javascript"></script>
    <script src="/Scripts/gridmvc.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/Content/Gridmvc.css">
    <link rel="stylesheet" type="text/css" href="/Content/Site.css">
</head>

<body>
    <div class="sectionheading">
        <div class="heading">CUSTOMER CONTRACTS</div>
    </div>
    @*@using (Html.BeginForm())
    {
        <div class="form-group">
            @Html.Label("Contract ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBox("ContractID")
            </div>
        </div>

        <input type="submit" id="btnSubmit" value="Search" />

    }*@

    @Html.Grid(Model).Named("orderedGrid").Columns(columns =>
        {
            columns.Add()
            .Encoded(false)
            .Sanitized(false)
            .SetWidth(30)
            .RenderValueAs(o => @<a href="javascript:void();" onclick="RefreshContract('@o.CustomerContractCartID', '@o.ContractID');">Select</a>);

            columns.Add(model => model.ContractID).Titled("Contract ID");
            columns.Add(model => model.Customer.CustomerNo).Titled("Customer Number");
            columns.Add(model => model.ContractTermTypeCode.Description).Titled("Contract Term");
            columns.Add(model => model.ContractTypeCode.Description).Titled("Contract Type");            
            
            columns.Add().RenderValueAs(o => o.ActiveCustomerContractProductXRefCarts.Count > 0 ? o.ActiveCustomerContractProductXRefCarts.First().Product.Name : "").Titled("Product Name");
            columns.Add().RenderValueAs(o => o.ActiveCustomerContractProductXRefCarts.Count > 0 ? o.ActiveCustomerContractProductXRefCarts.First().StatusCode.Description : "").Titled("Status");
            columns.Add().RenderValueAs(o => o.ActiveCustomerContractProductXRefCarts.Count > 0 ? o.ActiveCustomerContractProductXRefCarts.First().BeginDate.Value.ToShortDateString() : "").Titled("Effective Date");
            columns.Add().RenderValueAs(o => o.IsDraft.HasValue && !o.IsDraft.Value ? "false" : "true").Titled("IsDraft");
        }).Selectable(true)

    @helper CustomRenderingOfColumn(Entity.ContractModels.CustomerContractCart contractCart)
    {
        Entity.ContractModels.CustomerContractProductXRefCart productCart = contractCart.ActiveCustomerContractProductXRefCarts.FirstOrDefault();
        if (productCart != null)
        {
            Html.Label(productCart.Product.Name);
        }
        else
        {
            Html.Label(string.Empty);
        }
    }
</body>

</html>

<script language="javascript">

    function RefreshContract(contractID, contractNo) {
        window.close();
        window.opener.self.RefreshContract(contractID, contractNo);
    }
</script>
