﻿@model Entity.AdminModels.Tax
@{
    ViewBag.Title = "Tax";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Tax", "Admin", FormMethod.Post, new { id = "frmTax" }))
{
    @Html.AntiForgeryToken();
    <div class="main" id="main">


        @Html.ValidationSummary(true)             
        @Html.GenerateHiddenControlsForReadOnly(Model)
        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }


            Html.AddDefualtHTMLAttributes(model => model.TypeCodeID);
            Html.AddDefualtHTMLAttributes(model => model.StateCodeID);
        }

        <div class="sectionheading">
            <div class="heading">TAX DETAILS</div>
        </div>
        <table class="sectionfields" cellspacing="4" cellpadding="4">
            
            <tr class="altrowstyle">              
                <td id="uxPgCPH_tdddcurrency" class="column2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TypeCodeID, "Type", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CustomDropDownFor(model => model.TypeCodeID, Model)
                            @Html.ValidationMessageFor(model => model.TypeCodeID)
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="altrowstyle">
                <td id="uxPgCPH_tdddcurrency" class="column2">
                    <div class="form-group">
                        @Html.LabelFor(model => model.StateCodeID, "State", new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CustomDropDownFor(model => model.StateCodeID, Model)
                            @Html.ValidationMessageFor(model => model.StateCodeID)
                        </div>
                    </div>
                </td>
            </tr>
            <tr class="rowstyle">
               <td id="uxPgCPH_tdentsearch" class="column1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Tax1, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CustomEditorFor(model => model.Tax1, isReadOnly)
                            @Html.ValidationMessageFor(model => model.Tax1)
                        </div>
                    </div>
                </td>
            </tr>

            <tr class="rowstyle">
                <td id="uxPgCPH_tdentsearch" class="column1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.TaxOnTax, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CustomEditorFor(model => model.TaxOnTax, isReadOnly)
                            @Html.ValidationMessageFor(model => model.TaxOnTax)
                        </div>
                    </div>
                </td>
            </tr>     
            <tr class="rowstyle">
                <td id="uxPgCPH_tdentsearch" class="column1">
                    <div class="form-group">
                        @Html.LabelFor(model => model.EffectiveDate, new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.CustomEditorFor(model => model.EffectiveDate, isReadOnly)  
                            @Html.ValidationMessageFor(model => model.EffectiveDate)
                        </div>
                    </div>
                </td>
            </tr>        
        </table>
        <table class="sectionfields" cellspacing="0" cellpadding="0">
            <tr class="altrowstyle">
                <td id="uxPgCPH_tdpartytype" class="column1">
                       <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input name="btnsave" type="submit" id="btnsave" class="btnsave" value=" save" />
                        </div>
                    </div>
                </td>
            </tr>
        </table>
</div>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script language="javascript">
  
    function Validate() {

        if ($("#frmTax").valid()) {
            $("#frmTax").submit();
        }
    }
      
    </script>
}


