﻿.htmlTable-css {
	margin:0px;
    padding:0px;
	width:100%;
    box-shadow: 5px 5px 5px 0px #CCCCCC;
	/*border:2px solid #1B333B;*/
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.htmlTable-css table{
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}

.htmlTable-css th{
	text-align:left;
    border-color:#dbdce2;
    border-right:solid;   
    border-top:solid;
    border-bottom:solid;
    border-width:1px;
    font-weight:bold;
}

.htmlTable-css tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}

.htmlTable-css table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}

.htmlTable-css table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}
.htmlTable-css tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
}
.htmlTable-css tr:hover td{
	
}

.htmlTable-css tr:nth-child(odd){ background-color:#FFFFFF; }
.htmlTable-css tr:nth-child(even)    { background-color:#E6E6E6; }

.htmlTable-css td{
	vertical-align:middle;	
	border:1px dashed #dbdce2;
    border-bottom:1px;
    border-right:1px;
	/*border-width:1px 1px 1px 1px;*/    
	text-align:left;
	padding:7px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color: #000000;
    /*background-color:brown;*/
}


/*.htmlTable-css tr:last-child td{
	border-width:0px 1px 0px 0px;
}*/
/*.htmlTable-css tr td:last-child{
	border-width:0px 0px 1px 0px;
}*/
/*.htmlTable-css tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}*/
.htmlTable-css tr:first-child td{
		/*background:-o-linear-gradient(bottom, #FFFFFF 5%, #ffffff 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #FFFFFF 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ffffff");	
   background: -o-linear-gradient(top,#FFFFFF,#ffffff);*/

   /*background-color:green;*/
	/*background-color:#FFFFFF;*/
	/*border:1px solid #1B333B;*/
    /*border-top:1px solid #1B333B;
    border-bottom:1px solid #1B333B;*/
	text-align:left;
	border-width:1px 1px 1px 1px;
	font-size:10px;
	font-family:Arial;
	font-weight:bold;
	color: #000000;
}

.htmlTable-css tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #FFFFFF 5%, #ffffff 100%);
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #FFFFFF), color-stop(1, #ffffff) );
	background:-moz-linear-gradient( center top, #FFFFFF 5%, #ffffff 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#FFFFFF", endColorstr="#ffffff");	
   background: -o-linear-gradient(top,#FFFFFF,#ffffff);

	background-color:#FFFFFF;
}

/*.htmlTable-css tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.htmlTable-css tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;*/
/*}*/