﻿
/*--------Role screen-------------*/

#cssCOBRAMenu {
  position: relative;
  height: 44px;  
  background: #467D8F;
  width: auto;  
  text-align:left;
  /*padding-left:10px;*/
}
#cssCOBRAMenu1 {
  position: relative;
  height: 44px;
  background: #467D8F;
  width: auto;
  align-content: flex-end;
}
#cssCOBRAMenu ul {
  list-style: none;
  position: fixed;
  padding: 0;
  margin: 0;
  line-height: 1;
}
#cssCOBRAMenu > ul {
  position: relative;
  display: block;
  background: #467D8F;
  height: 32px;
  width: 100%;
  /*z-index: -1;*/
}
#cssCOBRAMenu > ul > ul {
  position: relative;
  display: block;
  background: #467D8F;
  height: 32px;
  width: 100%;
  /*z-index: -1;*/
}
#cssCOBRAMenu > ul > li {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  padding: 0;
  background: #467D8F;
}
#cssCOBRAMenu > ul > #menu-button {
  display: none;
}
#cssCOBRAMenu ul li a {
  display: block;
  font-family: Helvetica, sans-serif;
  text-decoration: none;
  background: #467D8F;
}
#cssCOBRAMenu > ul > li > a {
  font-size: 12px;
  font-weight: bold;
  padding: 15px 20px;
  color: #ffffff;
  text-transform: uppercase;
  -webkit-transition: color 0.25s ease-out;
  -moz-transition: color 0.25s ease-out;
  -ms-transition: color 0.25s ease-out;
  -o-transition: color 0.25s ease-out;
  transition: color 0.25s ease-out;
  background: #467D8F;
}
#cssCOBRAMenu > ul > li.has-sub > a {
  padding-right: 32px;
}
#cssCOBRAMenu > ul > li:hover > a {
  color: #ffffff;
}
#cssCOBRAMenu li.has-sub::after {
  display: block;
  content: '';
  position: absolute;
  width: 0;
  height: 0;
}
#cssCOBRAMenu > ul > li.has-sub::after {
  right: 10px;
  top: 20px;
  border: 5px solid transparent;
  border-top-color: #ffffff;
}
#cssCOBRAMenu > ul > li:hover::after {
  border-top-color: #ffffff;
}
#indicatorContainer {
  position: absolute;
  height: 12px;
  width: 100%;
  bottom: 0px;
  overflow: hidden;
  /*z-index: -1;*/
}
#pIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  z-index: -2;
  -webkit-transition: left .25s ease;
  -moz-transition: left .25s ease;
  -ms-transition: left .25s ease;
  -o-transition: left .25s ease;
  transition: left .25s ease;
}
#cIndicator {
  position: absolute;
  height: 0;
  width: 100%;
  border: 12px solid transparent;
  border-top-color: #2b2f3a;
  top: -12px;
  right: 100%;
  z-index: -2;
}
#cssCOBRAMenu ul ul {
  position: absolute;
  left: -9999px;
  top: 70px;
  opacity: 0;
  -webkit-transition: opacity .3s ease, top .25s ease;
  -moz-transition: opacity .3s ease, top .25s ease;
  -ms-transition: opacity .3s ease, top .25s ease;
  -o-transition: opacity .3s ease, top .25s ease;
  transition: opacity .3s ease, top .25s ease;
  /*z-index: 1000;*/
  z-index: 1;
}
#cssCOBRAMenu ul ul ul {
  top: 37px;
  padding-left: 5px;
}
#cssCOBRAMenu ul ul li {
  position: relative;
}
#cssCOBRAMenu > ul > li:hover> ul {
  left: auto;
  top: 40px;
  opacity: 1;
  position: absolute;
  /*display: block;*/    
  background: #707070;
  /*position: static;display: none; z-index: 999; padding-top:10px;*/
}
#cssCOBRAMenu a {
    color: inherit;
    display: block;
    padding: 1.5em 1.2em;
    text-decoration: none;
    }
#cssCOBRAMenu ul ul li > ul {
  left: 170px;
  top: 0;
  opacity: 1;
  background: #707070;
 display: none;
 float: right;
 position: absolute;
 right: 0;
 top: 0;
 padding-top:2em;
 /*z-index: 99999;*/
 z-index: 2;
}
#cssCOBRAMenu ul ul li a {
  width: 150px;
  border-bottom: 1px solid #467D8F;
  padding: 10px 20px;
  font-size: 12px;
  color: black;  
  /*-webkit-transition: all .35s ease;
  -moz-transition: all .35s ease;
  -ms-transition: all .35s ease;
  -o-transition: all .35s ease;*/
  /*transition: all .35s ease;*/
  background: #ffffff;
}
#cssCOBRAMenu ul ul li:hover > a {
  background: #ffffff;
  color: #467D8F;
}
#cssCOBRAMenu ul ul li:last-child > a,
#cssCOBRAMenu ul ul li.last > a {
  border-bottom: 0;
}
.submenuArrow {
  border: 6px solid transparent;
  width: 0;
  height: 0;
  border-bottom-color: #fff;
  position: absolute;
  top: -12px;
}
#cssCOBRAMenu ul ul li.has-sub::after {
  border: 4px solid transparent;
  border-left-color: #9ea2a5;
  right: 10px;
  top: 12px;
  -moz-transition: all .2s ease;
  -ms-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transition: -webkit-transform 0.2s ease, right 0.2s ease;
}
#cssCOBRAMenu ul ul li.has-sub:hover::after {
  border-left-color: #fff;
  right: -5px;
  -webkit-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
@media all and (max-width: 800px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssCOBRAMenu {
    width: auto;
  }
  #cssCOBRAMenu ul {
    width: auto;
  }
  #cssCOBRAMenu .submenuArrow,
  #cssCOBRAMenu #indicatorContainer {
    display: none;
  }
  #cssCOBRAMenu > ul {
    height: auto;
    display: block;
  }
  #cssCOBRAMenu > ul > li {
    float: none;
  }
  #cssCOBRAMenu li,
  #cssCOBRAMenu > ul > li {
    display: none;
  }
  #cssCOBRAMenu ul ul,
  #cssCOBRAMenu ul ul ul,
  #cssCOBRAMenu ul > li:nohover > ul,
  #cssCOBRAMenu ul ul > li:nohover > ul {
    position: relative;
    left: auto;
    top: auto;
    opacity: 1;
    padding-left: 0;
    background: #ffffff;
  }
  #cssCOBRAMenu ul .has-sub::after {
    display: none;
  }
  #cssCOBRAMenu ul li a {
    padding: 12px 20px;
  }
  #cssCOBRAMenu ul ul li a {
    border: 0;
    background: none;
    width: auto;
    padding: 8px 35px;
  }
  #cssCOBRAMenu ul ul li:hover > a {
    background: none;
    color: #8c9195;
  }
  #cssCOBRAMenu ul ul ul a {
    padding: 8px 50px;
  }
  #cssCOBRAMenu ul ul ul ul a {
    padding: 8px 65px;
  }
  #cssCOBRAMenu ul ul ul ul ul a {
    padding: 8px 80px;
  }
  #cssCOBRAMenu ul ul ul ul ul ul a {
    padding: 8px 95px;
  }
  #cssCOBRAMenu > ul > #menu-button {
    display: block;
    cursor: pointer;
  }
  #cssCOBRAMenu #menu-button > a {
    padding: 14px 20px;
  }
  #cssCOBRAMenu ul.open li,
  #cssCOBRAMenu > ul.open > li {
    display: block;
  }
  #cssCOBRAMenu > ul.open > li#menu-button > a {
    color: #fff;
    border-bottom: 1px solid rgba(150, 150, 150, 0.1);
  }
  #cssCOBRAMenu #menu-button::after {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    right: 20px;
    top: 15px;
  }
  #cssCOBRAMenu #menu-button::before {
    display: block;
    content: '';
    position: absolute;
    height: 3px;
    width: 22px;
    border-top: 2px solid #ffffff;
    right: 20px;
    top: 25px;
  }
  #cssCOBRAMenu ul.open #menu-button::after,
  #cssCOBRAMenu ul.open #menu-button::before {
    border-color: #fff;
  }
