﻿body {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+21,b8bac6+49,dddfe3+80,f5f6f6+100;Grey+Pipe */
/*background: #f5f6f6; /* Old browsers */
background: -moz-linear-gradient(-45deg,  #f5f6f6 0%, #dbdce2 21%, #b8bac6 49%, #dddfe3 80%, #f5f6f6 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  #f5f6f6 0%,#dbdce2 21%,#b8bac6 49%,#dddfe3 80%,#f5f6f6 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */*/

background: #CEE5ED;
	background: -webkit-linear-gradient(51deg, #CEE5ED 30%, rgba(171, 194, 201, 0.97) 50%);
	background: -moz-linear-gradient(51deg, #CEE5ED 30%, rgba(171, 194, 201, 0.97) 50%);
	background: -ms-linear-gradient(51deg, #CEE5ED 30%, rgba(171, 194, 201, 0.97) 50%);
	background: -o-linear-gradient(51deg, #CEE5ED 30%, rgba(171, 194, 201, 0.97) 50%);

font-size:small;
font-family: Arial;
margin:10px;
}

form
{
    height:100%;    
}

.background-layout{    
	width: 100%;
	height: 100%;
	background: #CEE4EB;
	background: -webkit-linear-gradient(51deg, #CEE4EB 30%, rgba(182, 206, 214, 0.97) 50%);
	background: -moz-linear-gradient(51deg, #CEE4EB 30%, rgba(182, 206, 214, 0.97) 50%);
	background: -ms-linear-gradient(51deg, #CEE4EB 30%, rgba(182, 206, 214, 0.97) 50%);
	background: -o-linear-gradient(51deg, #CEE4EB 30%, rgba(182, 206, 214, 0.97) 50%);    
}

.box-shadow {
	-webkit-box-shadow: 4px 5px 5px 0px #C2C2C2;
	   -moz-box-shadow: 4px 5px 5px 0px #C2C2C2;
	        box-shadow: 4px 5px 5px 0px #C2C2C2;

	background-color: #ffffff;
	width: 98%;
	height: 98%;
    margin-left:10px;    
    margin-right:10px;   
    margin-top: 0px;    
	position: absolute;      
}

.header-box {
	-webkit-box-shadow: -2px -3px 5px 0px #b8bac6;
	   -moz-box-shadow: -2px -3px 5px 0px #b8bac6;
	        box-shadow: -2px -3px 5px 0px #b8bac6;

	background: #467D8F;
	background: -webkit-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
	background: -moz-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
	background: -ms-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
	background: -o-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
	width: 100%;
	height: 7%;    
	position: relative;    
}

.header-banner{
    /*background:url("../Content/Images/HeaderLogo.png") ; 
    background-repeat:no-repeat;*/
    float:left;
    margin-left : 5px;
    margin-top : 1px;
     height: 75px;   
     width: 150px;       
}

.divLogin {
    float:right;
    margin-top:5px;;
    margin-right : 20px;        
    height: 30px;   
    width:200px;      
    color:white;           
}


.divLogin > a{
  
    color:white;     
}


.body-box
{
    height:82%;  
    overflow-y:auto;   
    /*border:solid;
    border-color:brown;*/     
}

.form-box{
        width: 100%;            
        margin-top:10px;        
        position: relative;
        clear: both;
        margin-bottom : 10px;   
        height:100%;  
        /*overflow-y:auto;*/        
        /*display:flex;
        flex-direction:column;
        align-items:stretch;*/            
        /*max-height:80%;
        */            
}

.form-box-default-margin {
        width: 85%;            
        margin-top:10px;   
        margin-right:50px;
        margin-left:50px;   
        position: relative;
        clear: both;
        margin-bottom : 1px;  
        height:100%;  
        /*overflow-y:auto;*/   
        /*max-height:90%;*/
        /*overflow-y:auto;*/            
        /*border:solid;
        border-color:green;*/    
}


.flexContainer{
    /*display:-webkit-flex;*/
    display:flex;
    flex-direction:column;
    align-items:stretch;
    height:100%;   
}

.divSubHeader {	
	width: 98%;	
    min-height:22px;
    color:#ffffff;
	background: #467D8F;
	background: -webkit-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
	background: -moz-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
	background: -ms-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
	background: -o-linear-gradient(90deg, #467D8F 5%, #5CA5BD 100%);
    margin-left:10px;
    margin-top:5px;          
	position: relative;  
    border:solid;    
    border-width:2px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    border-color:black; 
    flex-shrink:0;       
}

.SearchResults{
    margin-left:10px;    
     width: 98%;	
    margin-top:10px; 
	position: relative;  
    border:solid;    
    border-width:1px;
    border-color:black;
    border-radius:10px;    
}

.divButton-right {	
	width: 98%;	    
	background: #ffffff;	
    margin-left:10px;
    margin-top:5px;          
	position: relative;      
    text-align:right;
    min-height:40px;
    flex-shrink:0;
    /*border:solid;
    border-color:red;*/
}

.tablebox-border-fixed150
{
    background-color: #ffffff;
	width: 98%;	
    /*height:150px;*/
    margin-left:10px;    
    margin-right:10px;    
	position: relative;  
    border:solid;    
    border-width:1px;
    border-color:black;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    overflow:auto;
    min-height:40px;    
    /*max-height:100px;*/        
}

.tablebox-border-max250 {	
	background-color: #ffffff;
	width: 98%;	
    margin-left:10px;    
    margin-right:10px;    
	position: relative;  
    border:solid;    
    border-width:1px;
    border-color:black;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    overflow-y:auto;   
    max-height:250px;  
    min-height:50px;   
    flex-shrink:0;      
}

.tablebox-border-max400 {	
	background-color: #ffffff;
	width: 98%;	
    margin-left:10px;    
    margin-right:10px;    
	position: relative;  
    border:solid;    
    border-width:1px;    
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    overflow:auto;
    min-height:40px;
    max-height:400px;    
    flex-shrink:0;  
    /*min-height:50px;*/  
    /*min-height:40px;*/       
}


.tablebox-border-maxheight {	
	background-color: #ffffff;
	width: 98%;	    
    margin-left:10px;    
    margin-right:10px;    
	position: relative;  
    border:solid;    
    border-width:1px;
    border-color:black;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    overflow-y:auto;   
    min-height:40px;    
}

.rowSmartLayout {
        width: 100%;                     
        position: relative;
        clear: both;         
        /*max-height:200px;*/           
        margin-top:1px;        
        margin-bottom:1px;                          
        }
 
 
.twoCol-1-CellSmartLayout {
        width: 50%;
        height:100%;
        /*border:dashed 1px #dbdce2;*/
        position: relative;             
        float: left;                                    
        }
 
.twoCol-2-CellSmartLayout {
        width: 49%;
        height:100%;
        /*border:dashed 1px #dbdce2;*/
        position: relative;        
        float: right;                                     
        }


 
.twoCol-1-CellSmrtLayout-30{
        width: 30%;
        height:100%;
        border:dashed 1px #dbdce2;
        position: relative;             
        float: left;      
                                      
        }
 
.twoCol-2-CellSmartLayout-70 {
        width: 69%;
        height:100%;
        border:dashed 1px #dbdce2;
        position: relative;        
        float: right;                                     
        }

.threeCol-1-CellSmartLayout {
        width: 33%;
        height:100%;
        border:dashed 1px #dbdce2;
        position: relative;             
        float: left;                                            
        }
 
.threeCol-2-CellSmartLayout {
        width: 33%;
        height:100%;
        border:dashed 1px #dbdce2;
        position: relative;        
        display: inline-block;                                            
        }


.threeCol-3-CellSmartLayout {
        width: 33%;
        height:100%;
        border:dashed 1px #dbdce2;
        position: relative;              
        float: right;                                     
        }

.CellLabel
{
        width: 30%;        
        position: relative;              
        float: left;
        text-wrap:normal;
        font-size:small;
        font-weight:bolder;
        vertical-align:text-bottom;        
        /*min-height:20px;*/   
        padding-top:1px;     
        /*border:solid;
        border-color: red;*/
}

.CellLabelFixed-100
{
        width: 100px;;        
        position: relative;              
        float: left;
        text-wrap:normal;
        font-size:small;
        font-weight:bolder;
        vertical-align:text-bottom;        
        min-height:28px;   
        padding-top:5px;     
        /*border:solid;
        border-color: red;*/
}

.CellControl
{
        width: 70%;
        height:100%;
        position: relative;             
        float: right;  
        /*border:solid;
        border-color: red;*/
}


.CellData
{
        
        height:100%;
        position: relative;             
        text-align:left;
        text-wrap:normal;
        font-size:small;        
        vertical-align:text-bottom;        
        min-height:28px;   
        padding-top:5px;  
        display: inline-block;     
}


input[type='text'],
    input[type='email'] ,
    input[type='tel'],
    input[type='password'] {
   width: 180px;
   height: 21px;
   border: solid 2px #C3D3DE;
   padding: 2px;
   border-radius: 5px;
   font-size: 12px;
   box-shadow: 0px 1px 2px 0px #9C9C9C;
   background-color: #FFFFFF;
   outline: none;
   color: #474747;
   text-align: left;
  }


input[type='text']:hover  {
   border: 2px solid #19A878;
  }
input[type='text']:focus  {
   border: solid 2px #0C4F1F;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
input[type='text']:active  {
   border: solid 2px #0043EB;
  }

input[type='text']:read-only  {
   background-color:#f5f6f6;
  }


input[type='text']:disabled  {
   background-color:#f5f6f6;
  }


/*email*/
input[type='email']:hover  {
   border: 2px solid #19A878;
  }
input[type='email']:focus  {
   border: solid 2px #0C4F1F;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
input[type='email']:active  {
   border: solid 2px #0043EB;
  }

/*telephone*/
input[type='tel']:hover  {
   border: 2px solid #19A878;
  }
input[type='tel']:focus  {
   border: solid 2px #0C4F1F;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
input[type='tel']:active  {
   border: solid 2px #0043EB;
  }

/*password*/
input[type='password']:hover  {
   border: 2px solid #19A878;
  }
input[type='password']:focus  {
   border: solid 2px #0C4F1F;
   box-shadow: inset 0px 1px 2px 0px #9C9C9C;
  }
input[type='password']:active  {
   border: solid 2px #0043EB;
  }

    input + label {
        padding-left: 2px;
        vertical-align: middle;
    }

    input[type='checkbox'],
    input[type='radio'] {
        width: 24px;
        height: 15px;
        position: relative;
        /*z-index: 10;*/
        /*opacity: 0;*/
        vertical-align: middle;
    }

    input[type='radio'] {
        height: 21px;
        width: 15px;
    }

    input + label:before {
        content: " ";
        background: url(customInputs.png) no-repeat left -2px;
        width: 24px;
        height: 21px;
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        z-index: 5;
    }

    input[type='checkbox'] + label:before {
        background-position: left -3px;
    }

    input[type='radio'] + label:before {
        background-position: -36px -3px;
    }


    /* HOVER STYLES */
    input[type='checkbox']:hover + label:before,
    input[type='checkbox'] + label:hover:before {
        background-position: left -34px;
    }

    input[type='checkbox']:focus + label:before {
        background-position: left -65px;
    }

    input[type='radio']:hover + label:before,
    input[type='radio'] + label:hover:before {
        background-position: -36px -34px;
    }

    input[type='radio']:focus + label:before {
        background-position: -36px -65px;
    }


    /* CHECKED STYLES */
    input[type='checkbox']:checked + label:before {
        background-position: left -133px;
    }

    input[type='checkbox']:hover:checked + label:before,
    input[type='checkbox']:focus:checked + label:before {
        background-position: left -166px;
    }

    input[type='checkbox']:active:checked + label:before {
        background-position: left -199px;
    }


    input[type='radio']:checked + label:before {
        background-position: -36px -133px;
    }

    input[type='radio']:hover:checked + label:before,
    input[type='radio']:focus:checked + label:before {
        background-position: -36px -166px;
    }

    input[type='radio']:active:checked + label:before {
        background-position: -36px -199px;
    }


    /* DISABLED STYLES */
    input[type='checkbox']:disabled + label:before {
        background-position: left -96px;
    }

    input[type='radio']:disabled + label:before {
        background-position: -36px -96px;
    }

    input[type='checkbox']:checked:disabled + label:before {
        background-position: left -232px;
    }

    input[type='radio']:checked:disabled + label:before {
        background-position: -36px -232px;
    }


    label {
        color: #999;
    }

    input + label:hover,
    input:hover + label {
        color: #555;
    }


    /* DISABLED */
    input:disabled + label {
        color: #ccc;
    }

input[type='button'], input[type='submit'], button {
	-moz-box-shadow: 0px 5px 14px -7px #276873;
	-webkit-box-shadow: 0px 5px 14px -7px #276873;
	box-shadow: 0px 5px 14px -7px #276873;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #599bb3), color-stop(1, #408c99));
	background:-moz-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-webkit-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-o-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:-ms-linear-gradient(top, #599bb3 5%, #408c99 100%);
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#599bb3', endColorstr='#408c99',GradientType=0);
	background-color:#599bb3;
	-moz-border-radius:18px;
	-webkit-border-radius:18px;
	border-radius:18px;
	border:1px solid #29668f;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:7px 15px;
	text-decoration:none;
	text-shadow:0px 0px 0px #3d768a;
}
input[type='button'], input[type='submit'], button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #408c99), color-stop(1, #599bb3));
	background:-moz-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-webkit-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-o-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:-ms-linear-gradient(top, #408c99 5%, #599bb3 100%);
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#408c99', endColorstr='#599bb3',GradientType=0);
	background-color:#408c99;
}
input[type='button'], input[type='submit'], button:active {
	position:relative;
	top:1px;
}

.field-validation-error
{
    color:brown;
    font-weight:bold;
        
}



.btn-primary {
  color: #ffffff;
  background-color: transparent;
  border-color: #357ebd;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    list-style: none;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}


.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  font-family:Arial;
  font-size:medium;
  color: #333333;
  white-space: nowrap;
}

