﻿
@model Entity.ProductModels.ServicePricingDetailXRef

@{
    Layout = null;
}

@{
    int index = 0;
    if (ViewData["ServicePricingDetailXRefIndex"] != null)
    {
        index = (int)ViewData["ServicePricingDetailXRefIndex"];
    }

    if (Model != null)
    {
        Html.AddCustomHTMLAttributes(model => model.StateCodeID, "onchange", "PopulateCascadingDropDown(\'ServicePricingDetailXRefs_" + index + "__StateCodeID\', \'ServicePricingDetailXRefs_" + index + "__CityCodeID\');", index);
        Html.AddCustomHTMLAttributes(model => model.CityCodeID, "onchange", "PopulateCascadingDropDown(\'ServicePricingDetailXRefs_" + index + "__CityCodeID\', \'ServicePricingDetailXRefs_" + index + "__RegionCodeID\');", index);
        Html.AddDefualtHTMLAttributes(model => model.RegionCodeID);
        Html.AddDefualtHTMLAttributes(model => model.CategoryCodeID);
    }
}

<tr id="ServicePricingDetailXRefRow@(index)">

    @Html.GenerateHiddenControlsForReadOnly(Model, index)
   
    <td>
        @Html.CustomDropDownFor(model => model.CategoryCodeID, Model, index)
        @Html.CustomValidationMessageFor(model => model.CategoryCodeID, index)
    </td>
    <td>
        @Html.CustomDropDownFor(model => model.StateCodeID, Model, index)
        @Html.CustomValidationMessageFor(model => model.StateCodeID, index)
    </td>
    <td>
       @Html.CustomDropDownFor(model => model.CityCodeID, Model, index)
       @Html.CustomValidationMessageFor(model => model.CityCodeID, index)
    </td>
    <td>
        @Html.CustomDropDownFor(model => model.RegionCodeID, Model, index)
        @Html.CustomValidationMessageFor(model => model.RegionCodeID, index)
    </td>
    <td>
        @Html.CustomEditorFor(model => model.SubscriptionCharges, false, index)
        @Html.CustomValidationMessageFor(model => model.SubscriptionCharges, index)
    </td>
    <td>
        @Html.CustomEditorFor(model => model.OneTimeCharges, false, index)
        @Html.CustomValidationMessageFor(model => model.OneTimeCharges, index)
        @if (Model != null && Model.CanDelete)
        {
            <button name="btnDelete" id="btnDelete" type="button" onclick="DeleteServicePricingDetailXRef(@index);"><i class="fa fa-trash"></i></button>
        }
        else
        {
            <button name="btnDelete" id="btnDelete" type="button" disabled><i class="fa fa-trash"></i></button>
        }

    </td>
</tr>
