﻿@model IEnumerable<Entity.ProductModels.ServicePricingDetailXRef>

@{
    Layout = null;

    int version = 0;
    if (Model != null
    && Model.Count() > 0)
    {
        version = Model.First().ServicePricing.Version;
    }

    Html.Hidden("ProductPricingVersion", version);
}
    

<table class="htmlTable-css">
    <thead>
        <tr>
            <td>
                Version : @version
            </td>
        </tr>
        <tr>
            <th>
                Category
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                Region
            </th>
            <th>
                Subscription Charges
            </th>
            <th>
                OneTime Charges
            </th>
        </tr>
    </thead>    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryCode.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceArea.StateCode.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceArea.CityCode.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ServiceArea.RegionCode.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SubscriptionCharges)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OneTimeCharges)
                </td>
            </tr>
        }
    </tbody>
</table>
