﻿@model Entity.ProductModels.Service

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-box-default-margin">
        @Html.ValidationSummary(true)        
        @Html.GenerateHiddenControlsForReadOnly(Model)

        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }

            if (Model != null)
            {
                Html.AddDefualtHTMLAttributes(model => model.TypeCodeID);
            }
        }


        <div class="divSubHeader">
            Service
        </div>
        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ServiceID, "Service ID")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.ServiceID, true)
                        @Html.ValidationMessageFor(model => model.ServiceID)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Name, "Name")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Name, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
            </div>          

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Description, "Description")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Description, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.TypeCodeID, "Type")
                    </div>
                    <div class="CellControl">
                        @Html.CustomDropDownFor(model => model.TypeCodeID, Model)
                        @Html.ValidationMessageFor(model => model.TypeCodeID)
                    </div>
                </div>
            </div>


            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Attribute, "Attribute")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Attribute, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Attribute)
                    </div>
                </div>
            </div>
        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
        </div>

    </div>
}


@section Scripts {
  
}
