﻿@model Entity.ProductModels.ServicePricing

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="flexContainer">
        @Html.ValidationSummary(true)
        
        @Html.GenerateHiddenControlsForReadOnly(Model)
        @Html.Hidden("ServicePricingIndex", Model == null ? 0 : Model.CurrentServicePricingDetailXRefs.Count)

        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }

            Html.AddCustomHTMLAttributes(model => model.ContractTermTypeCodeID, "onchange", "LoadPricingDetails();");
        }

        <div class="divSubHeader">
            Service Pricing Information
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("lbService", "Service")
                    </div>
                    <div class="CellControl">
                        @Html.TextBox("ServiceName", (string)ViewBag.ServiceName, new { @readonly = "readonly" })  
                        @Html.ValidationMessageFor(model => model.ServicePricingID)                      
                        @Html.ValidationMessageFor(model => model.ServiceID)                        
                        <button name="btnSearchService" id="btnSearchService" type="button" onclick="OpenSearchServices();"><i class="fa fa-search"></i></button>                                            
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ContractTermTypeCodeID, "Contract Term")
                    </div>
                    <div class="CellControl">
                        @Html.CustomDropDownFor(model => model.ContractTermTypeCodeID, Model)
                        @Html.ValidationMessageFor(model => model.ContractTermTypeCodeID)
                    </div>
                </div>
            </div>

            @if (Model != null && Model.ServicePricingID > 0)
            {
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.EffectiveDate, "Effective Date")
                        </div>
                        <div class="CellControl">                            
                            @Html.CustomEditorFor(model => model.EffectiveDate, false)   
                            @Html.ValidationMessageFor(model => model.EffectiveDate)                         
                        </div>
                    </div>
                </div>
            }          
        </div>

        <div class="divSubHeader">
            Service Pricing Details
        </div>

        <div id="divServicePricingDetailList" class="tablebox-border-maxheight">
            <div>
                <button name="btnServicePricingDetailLNew" id="btnServicePricingDetailLNew" type="button"><i class="fa fa-plus"></i>  Service Pricing</button>
            </div>
            <table class="htmlTable-css" id="tableServicePricingDetailXrefs">
                <thead>                 
                    @if (Model != null
                                && Model.Version > 0)
                    {
                        <tr>
                            <td>Version : @Model.Version</td>
                        </tr>
                    }

                    <tr>
                        <th>
                            Category
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Region
                        </th>
                        <th>
                            Subscription Charges
                        </th>
                        <th>
                            OneTime Charges
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        ViewData.Add("ServicePricingDetailXRefIndex", 0);
                        if (Model != null)
                        {
                            List<Entity.ProductModels.ServicePricingDetailXRef> servicePricingDetailXRefList = Model.ServicePricingDetailXRefs.ToList();
                            for (int index = 0; index < servicePricingDetailXRefList.Count; index++)
                            {
                                ViewData["ServicePricingDetailXRefIndex"] = index;
                                Html.RenderPartial("_PricingDetailXRef", servicePricingDetailXRefList[index]);
                            }
                        }
                    }
                </tbody>
            </table>        
        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
        </div>

    </div>    
}


@{

    // This is to initiate Service search as Modal Dialog
    COBRA.Models.ServiceSearchCriteriaModel searchModel = new COBRA.Models.ServiceSearchCriteriaModel();
    searchModel.IsModalDialog = true;
    Html.RenderPartial("Search/_SearchService", searchModel);
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    
    <script language="javascript">

    HideDeletedRows("tableServicePricingDetailXrefs", "ServicePricingDetailXRefs");
    
    function OpenSearchServices() {
        OpenServiceSearchDialog();
    }

    function RefreshService(tempServiceID, tempServiceDesc) {        
        $("#ServiceID").val(tempServiceID);
        $("#ServiceName").val(tempServiceDesc);

        CloseServiceSearchDialog();

        var tempContractTermTypeCodeID = $("#ContractTermTypeCodeID").val();
        if (tempContractTermTypeCodeID > 0) {
            LoadPricingDetails();
        }
    }

    // To create anew Pricing Row
    $("#btnServicePricingDetailLNew").click(function () {
        
        var tempUrl = '@Url.Action("CreateServicePricingDetailXRef", "Service")';
        CreateNewTableRowByIndex("tableServicePricingDetailXrefs", tempUrl, "ServicePricingIndex");
    });

    // Delete Pricing Detail Row
    function DeleteServicePricingDetailXRef(selectedIndex) {
        DeleteRow(selectedIndex, "tableServicePricingDetailXrefs", "ServicePricingDetailXRefs");
    }

    // Cascading Dropdown functionality
    function PopulateCascadingDropDown(parentDropDownId, cascadingDropDownId) {
        var tempUrl = '@(Url.Action("GetCascadingListIncludeAll", "Service"))';
        GetCascadingDropDown(parentDropDownId, cascadingDropDownId, tempUrl);
    }

    function PopulateCascadingDropDownByValue(parentSelectedValue, cascadingDropDownId, defaultValue) {
        var tempUrl = '@(Url.Action("GetCascadingListIncludeAll", "Service"))';
        GetCascadingDropDownListByValue(parentSelectedValue, cascadingDropDownId, defaultValue, tempUrl);
        var cascadingDropDown = $("#" + cascadingDropDownId);
    }

    function LoadPricingDetails() {
        var tempServiceID = $("#ServiceID").val();        
        if (tempServiceID <= 0) {
            alert("Please select Service!!");
            return;
        }

        var tempContractTermTypeCodeID = $("#ContractTermTypeCodeID").val();
        var tempUrl = '@Html.Raw(Url.Action("PricingDetails", "Service", new { pServiceID = -111, pContractTermTypeCodeID = -222 }))';
            tempUrl = tempUrl.replace("-111", tempServiceID);
            tempUrl = tempUrl.replace("-222", tempContractTermTypeCodeID);
            location.href = tempUrl;
        }        
    </script>
}
