﻿@using Microsoft.AspNet.Identity
@model COBRA.MVC.Models.ManageUserViewModel

@*<p>You're logged in as <strong>@User.Identity.GetUserName()</strong>.</p>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new {role = "form" }))
{
    @Html.AntiForgeryToken()    
    @Html.ValidationSummary(true)

    <div class="form-box-default-margin">
        <div class="divSubHeader">
            Change Password 
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.OldPassword)
                </div>
                <div class="CellControl">
                    @Html.PasswordFor(m => m.OldPassword)
                    @Html.ValidationMessageFor(m => m.OldPassword)

                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="CellControl">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)

                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="CellControl">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-user"></i>  Change password</button>
        </div>

    </div>
}
