﻿@model COBRA.MVC.Models.ManageUserViewModel

@*<p class="text-info">
    You do not have a local username/password for this site. Add a local
    account so you can log in without an external login.
</p>*@

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <div class="form-box-default-margin">
        <div class="divSubHeader">
            Create Local Login
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.NewPassword)
                </div>
                <div class="CellControl">
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)

                </div>
            </div>
         
            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="CellControl">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-user"></i>  Set password</button>
        </div>

    </div>
   
}
