﻿@model COBRA.MVC.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

<div class="row">
    <div class="col-md-8">
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()               
                @Html.ValidationSummary(true)


                <div class="form-box-default-margin">
                    <div class="divSubHeader">
                        @ViewBag.Title
                    </div>
                    <div class="tablebox-border-max400">
                        <div class="rowSmartLayout">
                            <div class="CellLabelFixed-100">
                                @Html.LabelFor(m => m.UserName)
                            </div>
                            <div class="CellControl">
                                @Html.TextBoxFor(m => m.UserName)
                                @Html.ValidationMessageFor(m => m.UserName)
                            </div>
                        </div>

                        <div class="rowSmartLayout">
                            <div class="CellLabelFixed-100">
                                @Html.LabelFor(m => m.Password)
                            </div>
                            <div class="CellControl">
                                @Html.PasswordFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </div>
                        </div>

                        <div class="rowSmartLayout">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>                      
                    </div>

                    <div class="divButton-right">
                        <button name="btnsave" type="submit"><i class="fa fa-user"></i>  Login</button>
                    </div>
                    <div>
                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                    </div>
                </div>

            }
        </section>
    </div>
    @*<div class="col-md-4">
        <section id="socialLoginForm">
            @Html.Partial("_ExternalLoginsListPartial", new { Action = "ExternalLogin", ReturnUrl = ViewBag.ReturnUrl })
        </section>
    </div>*@
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}