﻿@model COBRA.MVC.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}

@*<h2>@ViewBag.Title.</h2>*@

@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="form-box-default-margin">
        <div class="divSubHeader">
            Create a new account.
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.UserName)
                </div>
                <div class="CellControl">
                    @Html.TextBoxFor(m => m.UserName)                    
                    @Html.ValidationMessageFor(m => m.UserName)
                    
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.Password)
                </div>
                <div class="CellControl">
                    @Html.PasswordFor(m => m.Password)
                    @Html.ValidationMessageFor(m => m.Password)
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
                <div class="CellControl">
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </div>
            </div>
        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-plug"></i>  Register</button>
        </div>

    </div>

  
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
