﻿
@model Entity.Model.CustomerModels.Customer

@{
    Layout = null;
}

<div>
    @{
        Entity.Model.CustomerModels.CustomerAddressXRef homeAddress = Model.CustomerAddressXRefs.FirstOrDefault(a => a.RecordStatus
            && a.AddressTypeCodeID == Infrastructure.Resources.CustomerAddressTypeKey.Home);

        Entity.Model.CustomerModels.CustomerAddressXRef billingAddress = Model.CustomerAddressXRefs.FirstOrDefault(a => a.RecordStatus
            && a.AddressTypeCodeID == Infrastructure.Resources.CustomerAddressTypeKey.Billing);
    }

    <div class="divSubHeader">
        Customer Details
    </div>

    <div class="tablebox-border-max400">
        <div class="rowSmartLayout">
            <div class="threeCol-1-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    @Html.DisplayNameFor(model => model.CustomerNo)
                </div>
                <div class="CellData">
                    @Html.DisplayFor(model => model.CustomerNo)
                </div>
            </div>

            <div class="threeCol-2-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    Category
                </div>
                <div class="CellData">
                    @Html.DisplayFor(model => model.CategoryCode.Description)
                </div>
            </div>

            <div class="threeCol-3-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    @Html.DisplayNameFor(model => model.Mobile)
                </div>
                <div class="CellData">
                    @Html.DisplayFor(model => model.Mobile)
                </div>
            </div>
        </div>

        <div class="rowSmartLayout">
            <div class="threeCol-1-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    @Html.DisplayNameFor(model => model.LastName)
                </div>
                <div class="CellData">
                    @Html.DisplayFor(model => model.LastName)
                </div>
            </div>

            <div class="threeCol-2-CellSmartLayout">

                <div class="CellLabelFixed-100">
                    @Html.DisplayNameFor(model => model.FirstName)
                </div>
                <div class="CellData">
                    @Html.DisplayFor(model => model.FirstName)
                </div>
            </div>

            <idv class="threeCol-3-CellSmartLayout">

                <div class="CellLabelFixed-100">
                    @Html.DisplayNameFor(model => model.MiddleName)
                </div>
                <div class="CellData">
                    @Html.DisplayFor(model => model.MiddleName)
                </div>
            </idv>
        </div>

        <div class="rowSmartLayout">
            <div class="CellLabelFixed-100">
                @Html.DisplayNameFor(model => model.Email)
            </div>
            <div class="CellData">
                @Html.DisplayFor(model => model.Email)
            </div>
        </div>
    </div>

        @if (homeAddress != null)
        {
            <div class="divSubHeader">
                Home Address
            </div>
            <div class="tablebox-border-max400">
               @{ Html.RenderPartial("Customer/_CustomerAddressDisplay", homeAddress);}
            </div>            
        }

        @if (billingAddress != null)
        {
            <div class="divSubHeader">
                Billing Address
            </div>
            <div class="tablebox-border-max400">
                @{ Html.RenderPartial("Customer/_CustomerAddressDisplay", billingAddress);}
            </div>         
        }
</div>

