﻿
@model Entity.Model.CustomerModels.CustomerAddressXRef

@{
    Layout = null;
}

  
    @if (Model != null)
    {
        <div class="rowSmartLayout">
            <div class="twoCol-1-CellSmartLayout">
                <div class="CellLabel">
                    AddressLine1
                </div>
                <div class="CellData">
                    @Model.AddressLine1
                </div>
            </div>

            <div class="twoCol-2-CellSmartLayout">
                <div class="CellLabel">
                    AddressLine2
                </div>
                <div class="CellData">
                    @Model.AddressLine2
                </div>
            </div>
        </div>

        <div class="rowSmartLayout">
            <div class="threeCol-1-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    Region
                </div>
                <div class="CellData">
                    @Model.RegionCode.Description
                </div>
            </div>

            <div class="threeCol-2-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    City
                </div>
                <div class="CellData">
                    @Model.CityCode.Description
                </div>
            </div>

            <div class="threeCol-3-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    State
                </div>
                <div class="CellData">
                    @Model.StateCode.Description
                </div>
            </div>
        </div>
    }




