﻿
@model IEnumerable<Entity.Model.CustomerModels.Customer>
    @{ 
        Layout = "~/Views/Shared/_LayoutPDF.cshtml";
    }

<div style="text-align:center">
    <h2>Customer Report</h2>
</div>
<div>
    <table style="font-family:Arial;font-size:medium;text-align:left;">
        <tr bgcolor="#ffffff" style="font-weight:bold;">
            <td width="20%">
                Customer No
            </td>
            <td width="20%">
                Last Name
            </td>
            <td width="20%">
                First Name
            </td>
            <td width="20%">
                Email
            </td>
            <td width="20%">
                Mobile
            </td>
        </tr>
        @{
            var OddColor = "#F9F9F9";
            var evenColor = "#FFFFFF";
            var Odd = OddColor;
        }
        @foreach (Entity.Model.CustomerModels.Customer customer in Model)
        {
            <tr bgcolor="@Odd">
                <td>
                    @customer.CustomerNo
                </td>
                <td>
                    @customer.LastName
                </td>
                <td>
                    @customer.FirstName
                </td>
                <td>
                    @customer.Email
                </td>
                <td>
                    @customer.Mobile
                </td>
            </tr>
            if (Odd == OddColor)
            {
                Odd = evenColor;
            }
            else
            {
                Odd = OddColor;
            }
        }
    </table>   
</div>
 
