﻿@model Entity.Model.CustomerModels.Customer

@{ 
    Layout = null;
}

<div >
    
    
    @{
        Entity.Model.CustomerModels.CustomerAddressXRef address = Model.CustomerAddressXRefs.FirstOrDefault(a => a.RecordStatus
            && a.AddressTypeCodeID == Infrastructure.Resources.CustomerAddressTypeKey.Home);
    }
    
    <div class="rowSmartLayout">
        <div class="threeCol-1-CellSmartLayout">
            <div class="CellLabelFixed-100">
                @Html.DisplayNameFor(model => model.CustomerNo)
            </div>
            <div class="CellData">
                @Html.DisplayFor(model => model.CustomerNo)
            </div>
        </div>

        <div class="threeCol-2-CellSmartLayout">
            <div class="CellLabelFixed-100">
                Category
            </div>
            <div class="CellData">
                @Html.DisplayFor(model => model.CategoryCode.Description)
            </div>           
        </div>

        <div class="threeCol-3-CellSmartLayout">
            <div class="CellLabelFixed-100">
                @Html.DisplayNameFor(model => model.Mobile)
            </div>
            <div class="CellData">
                @Html.DisplayFor(model => model.Mobile)
            </div>
        </div>
    </div>

    <div class="rowSmartLayout">
        <div class="threeCol-1-CellSmartLayout">
            <div class="CellLabelFixed-100">
                @Html.DisplayNameFor(model => model.LastName)
            </div>
            <div class="CellData">
                @Html.DisplayFor(model => model.LastName)
            </div>
        </div>

        <div class="threeCol-2-CellSmartLayout">

            <div class="CellLabelFixed-100">
                @Html.DisplayNameFor(model => model.FirstName)
            </div>
            <div class="CellData">
                @Html.DisplayFor(model => model.FirstName)
            </div>
        </div>

        <idv class="threeCol-3-CellSmartLayout">

            <div class="CellLabelFixed-100">
                @Html.DisplayNameFor(model => model.MiddleName)
            </div>
            <div class="CellData">
                @Html.DisplayFor(model => model.MiddleName)
            </div>
        </idv>
    </div>


    @if (address != null)
    {
        <div class="rowSmartLayout">
            <div class="twoCol-1-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    AddressLine1
                </div>
                <div class="CellData">
                    @address.AddressLine1
                </div>
            </div>

            <div class="twoCol-2-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    AddressLine2
                </div>
                <div class="CellData">
                    @address.AddressLine2
                </div>
            </div>
        </div>

        <div class="rowSmartLayout">
            <div class="threeCol-1-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    Region
                </div>
                <div class="CellData">
                    @address.RegionCode.Description
                </div>
            </div>

            <div class="threeCol-2-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    City
                </div>
                <div class="CellData">
                    @address.CityCode.Description
                </div>
            </div>

            <div class="threeCol-3-CellSmartLayout">
                <div class="CellLabelFixed-100">
                    State
                </div>
                <div class="CellData">
                    @address.StateCode.Description
                </div>
            </div>         
        </div>
    }


    <div class="rowSmartLayout">
        <div class="CellLabelFixed-100">
            @Html.DisplayNameFor(model => model.Email)
        </div>
        <div class="CellData">
            @Html.DisplayFor(model => model.Email)
        </div>
    </div>

    
</div>

