﻿@model  Entity.BillingModels.CustomerBilling
@using GridMvc.Html;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}
<div >
    @using (Html.BeginForm())
    {
        <div class="divSubHeader">
            Generate Billing
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Customer Contract No")
                    </div>
                    <div class="CellControl">
                        @Html.TextBoxFor(model => model.CustomerContractID)
                        <button name="btnSearchContract" id="btnSearchContract" type="button" onclick="SearchContracts();"><i class="fa fa-search"></i></button>
                        @Html.ValidationMessageFor(model => model.CustomerContractID)
                    </div>
                </div>

            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("Begin Date")
                    </div>
                    <div class="CellControl">
                        @Html.EditorFor(model => model.BeginDate)
                        @Html.ValidationMessageFor(model => model.BeginDate)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("End Date")
                    </div>
                    <div class="CellControl">
                        @Html.EditorFor(model => model.EndDate)
                        @Html.ValidationMessageFor(model => model.EndDate)
                    </div>
                </div>
            </div>
        </div>

        <div class="divButton-right">
            <button name="btnSearch" id="btnSearch" type="submit"><i class="fa fa-search"></i>  Search</button>
            <button name="btnReset" id="btnReset" type="reset"> Reset</button>
        </div>

    }

    <div class="SearchResults">

        @if (Model != null && Model.CustomerBillingDetailXRefs.Count > 0)
        {           
            Html.RenderPartial("Contract/_ContractBillingSummary", Model); 
        }
        else
        {
            <div>No results found</div>
        }
    </div>
</div>
    
    

@{

    // This is to initiate Service search as Modal Dialog
    COBRA.Models.ContractSearchCriteriaModel searchModel = new COBRA.Models.ContractSearchCriteriaModel();
    searchModel.ContractIsModalDialog = true;
    Html.RenderPartial("Search/_SearchContract", searchModel);
}
   
<script language="javascript">
    function SearchContracts() {        
        OpenContractSearchDialog();
    }

    function RefreshContract(tempcustomerContractID, contractID)
    {
        $("#CustomerContractID").val(tempcustomerContractID);
        CloseContractSearchDialog();
    }
</script>