﻿
@model Entity.BillingModels.CustomerBilling
@{ 
    Layout = null;
}
<div>
    <div class="divSubHeader">
        Contract Summary 
    </div>
    <div class="tablebox-border-maxheight">
        <div class="rowSmartLayout">
            <div class="twoCol-1-CellSmartLayout">
                <div class="CellLabel">
                    Billing #
                </div>
                <div class="CellData">
                    @Model.CustomerBillingID
                </div>           
            </div>  
            <div class="twoCol-2-CellSmartLayout">
                <div class="CellLabel">
                    Billing Period
                </div>
                <div class="CellData">
                    @Model.BeginDate.ToShortDateString() To @Model.EndDate.ToShortDateString()

                </div>
            </div>          
        </div>
       
        <div class="rowSmartLayout">
            <div class="twoCol-1-CellSmartLayout">
                <div class="CellLabel">
                    Product
                </div>
                <div class="CellData">
                    @Model.Product
                </div>
            </div>          
        </div> 
        <div class="rowSmartLayout">
            <table class="htmlTable-css">
                <tr>
                    <td>Service Name</td>
                    <td>Start Date</td>
                    <td>End Date</td>
                    <td>Charges</td>
                    <td>Amount</td>
                    <td>No. of Instances</td>
                    <td>Total</td>
                </tr>
                @foreach (Entity.BillingModels.CustomerBillingDetailXRef detailXRef in Model.CustomerBillingDetailXRefs)
            {
                    <tr>
                        <td rowspan="5">@(detailXRef.Service == null ? string.Empty : detailXRef.Service.Name)</td>
                        <td rowspan="5">@detailXRef.BeginDate.ToShortDateString()</td>
                        <td rowspan="5">@detailXRef.EndDate.ToShortDateString()</td>
                        <td>Subscription Charges</td>
                        <td>@detailXRef.SubscriptionCharges</td>
                        <td>@(detailXRef.CustomerContractProductXRef != null ? detailXRef.CustomerContractProductXRef.Instances :(detailXRef.CustomerContractProductXRefStage != null ? detailXRef.CustomerContractProductXRefStage.Instances : 0))</td>
                        <td>@detailXRef.TotalSubscriptionCharges</td>
                    </tr>
                        <tr>
                            <td>One-Time Charges</td>
                            <td>@detailXRef.OneTimeCharges</td>
                            <td>-</td>
                            <td>@detailXRef.OneTimeCharges</td>
                        </tr>
                        <tr>
                            <td>Tax</td>
                            <td>@detailXRef.TaxCharges</td>
                            <td>-</td>
                            <td>@detailXRef.TaxCharges</td>
                        </tr>
                        <tr>
                            <td>Tax-On-Tax</td>
                            <td>@detailXRef.TaxOnTaxCharges</td>
                            <td>-</td>
                            <td>@detailXRef.TaxOnTaxCharges</td>
                        </tr>
                        <tr>
                            <td>Sub-Total</td>
                            <td></td>
                            <td></td>
                            <td>@detailXRef.TotalCharges</td>
                        </tr>
                }

                @foreach (Entity.BillingModels.CustomerBillingDiscountXRef discountXRef in Model.CustomerBillingDiscountXRefs)
            {
                    <tr>
                        <td colspan="6">Discount - @discountXRef.DiscountDescription</td>
                        <td>@discountXRef.GetDiscountValue(Model.TotalChargesWithOutDiscount)</td>
                    </tr>

                }
                <tr>
                    <td colspan="6"><b>Total</b></td>
                    <td><b>@Model.TotalCharges</b></td>
                </tr>
            </table>
        </div>     
    </div>    
</div>