﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        COBRA
    </title>
    
    
        @Mvc.RazorTools.BundleManager.Styles.Render()
</head>
<body>    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js", "~/Scripts/ViewCommonFunc.js", "~/Scripts/ui/jquery-ui.js")

    <link href="~/Scripts/themes/base/jquery-ui.css" rel="stylesheet" />

    <script src="~/Scripts/qTip/jquery.qtip.js"></script>
    <link href="~/Scripts/qTip/jquery.qtip.css" rel="stylesheet" />
    <link href="~/Content/Gridmvc.css" rel="stylesheet" />    
    <script src="~/Scripts/ui/jquery.ui.core.js"></script>
    <script src="~/Scripts/ui/jquery.ui.widget.js"></script>
    <script src="~/Scripts/ui/jquery.ui.mouse.js"></script>
    <script src="~/Scripts/ui/jquery.ui.button.js"></script>
    <script src="~/Scripts/ui/jquery.ui.draggable.js"></script>
    <script src="~/Scripts/ui/jquery.ui.position.js"></script>
    <script src="~/Scripts/ui/jquery.ui.draggable.js"></script>
    <script src="~/Scripts/ui/jquery.ui.resizable.js"></script>
    <script src="~/Scripts/ui/jquery.ui.dialog.js"></script>
    <script src="~/Scripts/ui/jquery.ui.effect.js"></script>
    <script src="~/Scripts/OpenDialog.js"></script>    
    <script src="/Scripts/app/api.js" type="text/javascript"></script>
    <script src="/Scripts/app/ui.js" type="text/javascript"></script>
    <script src="/Scripts/gridmvc.min.js" type="text/javascript"></script>
    <script src="/Scripts/gridmvc.js" type="text/javascript"></script>
    <script src="~/Scripts/URI.js"></script>
    <script src="~/Scripts/gridmvc-ext.js"></script>        
    <link href="~/Content/ladda-bootstrap/ladda-themeless.min.css" rel="stylesheet" />

    <script src="~/Scripts/ViewCommonFunc.js"></script>
    <div class="background-layout">
        <div class="box-shadow">
            
            <div class="header-box">
                <div class="divLogin">
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="header-banner"></div>
            </div>

            <div>
                @Html.Partial("_Menu")
            </div>

            <div class="body-box">
                @RenderBody()
            </div>           
        </div>
    </div>

    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
