﻿<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>
            COBRA
        </title>    
        @Styles.Render("~/Content/css")            
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/Scripts/jquery-1.10.2.min.js", "~/Scripts/ViewCommonFunc.js", "~/Scripts/ui/jquery-ui.js")
        @Mvc.RazorTools.BundleManager.Styles.Render()
        
        <script src="~/Scripts/qTip/jquery.qtip.js"></script>
        <link href="~/Scripts/qTip/jquery.qtip.css" rel="stylesheet" />
    </head>
    <body>        
       
        <div class="box-shadow">
            <div class="header-box">
                <div class="divLogin">
                    @Html.Partial("_LoginPartial")
                </div>
                <div class="header-banner"></div>

            </div>

            <div>
                @Html.Partial("_Menu")
            </div>

            @RenderBody()

        </div>

        <script src="~/Scripts/jquery.validate.js"></script>
        <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
                  
        @Scripts.Render("~/bundles/bootstrap")        
        @RenderSection("scripts", required: false)
    </body>
</html>
