﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>


    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js", "~/Scripts/ViewCommonFunc.js", "~/Scripts/ui/jquery-ui.js")
    @Scripts.Render("~/bundles/jquery.ui")
    @Scripts.Render("~/bundles/jquery.GridMVC")
    @Mvc.RazorTools.BundleManager.Styles.Render()
    
</head>
<body>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css">
    <link rel="stylesheet" type="text/css" href="~/Scripts/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Gridmvc.css">
    <link rel="stylesheet" type="text/css" href="~/Content/ladda-bootstrap/ladda-themeless.min.css">

    <link href="~/Content/COBRASite.css"  rel="stylesheet" />
    <link href="~/Content/COBRATable.css" rel="stylesheet" />
    <div>
        @*<img src='@Server.MapPath("/Content/Images/HeaderLogo.png")' />*@        
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)


</body>
</html>
