﻿<div id="cssCOBRAMenu">
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>
            <a href="#">Customer Management</a>
            <ul>
                <li>@Html.ActionLink("Create", "Registration", "Customer", new { pCustomerID = 0 }, null)</li>
                <li>@Html.ActionLink("View/Edit", "SearchCustomer", "Customer", new { isModalDialog = false }, null)</li>                
            </ul>
        </li>
        <li>
            <a href="#">Product & Pricing</a>
            <ul>
                <li>@Html.ActionLink("Service - Create", "CreateOrEdit", "Service", new { pServiceID = 0 }, null)</li>
                <li>@Html.ActionLink("Service - View/Edit", "SearchService", "Service")</li>
                <li>@Html.ActionLink("Service - Pricing", "PricingDetails", "Service")</li>
                <li>@Html.ActionLink("Service Group - Create", "CreateOrEdit", "ServiceGroup", new { pServiceGroupID = 0 }, null)</li>
                <li>@Html.ActionLink("Service Group - View/Edit", "SearchServiceGroup", "ServiceGroup")</li>
                <li>@Html.ActionLink("Service Group - Pricing", "PricingDetails", "ServiceGroup")</li>
                <li>@Html.ActionLink("Product - Create", "CreateOrEdit", "Product", new { pProductID = 0 }, null)</li>
                <li>@Html.ActionLink("Product - View/Edit", "SearchProduct", "Product")</li>
                <li>@Html.ActionLink("Discount - Create", "Discount", "Product", new { pDiscountID = 0 }, null)</li>
                <li>@Html.ActionLink("Discount - View/Edit", "SearchDiscount", "Product")</li>
            </ul>
        </li>
        <li>
            <a href="#">Order Management</a>
            <ul>
                <li>@Html.ActionLink("Create", "CreateOrEdit", "Contract", new { pContractID = 0, pCustomerID = 0 }, null)</li>
                <li>@Html.ActionLink("View/Edit", "SearchContract", "Contract")</li>
                <li>@Html.ActionLink("Disconnect", "SearchContractByActionType", "Contract", new { pActionType = "Disconnect" }, null)</li>
                <li>@Html.ActionLink("Suspend", "SearchContractByActionType", "Contract", new { pActionType = "Suspend" }, null)</li>
                <li>@Html.ActionLink("Reconnect", "SearchContractByActionType", "Contract", new { pActionType = "Reconnect" }, null)</li>
                <li>@Html.ActionLink("Terminate", "SearchContractByActionType", "Contract", new { pActionType = "Terminate" }, null)</li>
                <li>@Html.ActionLink("Upgrade", "SearchContractByActionType", "Contract", new { pActionType = "Upgrade" }, null)</li>
                <li>@Html.ActionLink("Contract Provisioning", "SearchContractByActionType", "Contract", new { pActionType = "StatusConfirm" }, null)</li>

            </ul>
        </li>
        <li>@Html.ActionLink("Billing", "SearchBilling", "Billing")</li>
        <li>
            <a href="#">Admin</a>
            <ul>
                <li>@Html.ActionLink("Tax", "Tax", "Admin")</li>
            </ul>
        </li>

        <li>@Html.ActionLink("Trouble Ticketing", "OrderManagement", "OrderManagement")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>


</div>

