﻿@model IEnumerable<Entity.ProductModels.ServiceGroupPricingDetailXRef>

@{
    Layout = null;

    int version = 0;
    if (Model != null
    && Model.Count() > 0)
    {
        version = Model.First().ServiceGroupPricing.Version;
    }

    Html.Hidden("ProductPricingVersion", version);
}

<table class="htmlTable-css">
    <thead>    
        <tr>
            <td>
                Version : @version
            </td>
        </tr>   
        <tr>
            <th>
                Category
            </th>
            <th>
                State
            </th>
            <th>
                City
            </th>
            <th>
                Region
            </th>
            <th>
                Subscription Charges
            </th>
            <th>
                OneTime Charges
            </th>
        </tr>
    </thead>
    <tbody>
        @{            
            if (Model != null)
            {
                List<Entity.ProductModels.ServiceGroupPricingDetailXRef> serviceGroupPricingDetailXRefList = Model.OrderBy(detail => detail.PricingGroupKey).ToList();

                string groupIdentifier = string.Empty;

                for (int index = 0; index < serviceGroupPricingDetailXRefList.Count; index++)
                {
                    string tempGroupIdentifier = serviceGroupPricingDetailXRefList[index].PricingGroupKey;
                    if (string.IsNullOrEmpty(groupIdentifier)
                        || groupIdentifier != tempGroupIdentifier)
                    {
                        <tr>
                            <td>
                                @serviceGroupPricingDetailXRefList[index].CategoryCode.Description
                            </td>
                            <td>
                                @serviceGroupPricingDetailXRefList[index].ServiceArea.StateCode.Description
                            </td>
                            <td>
                                @serviceGroupPricingDetailXRefList[index].ServiceArea.CityCode.Description
                            </td>
                            <td>
                                @serviceGroupPricingDetailXRefList[index].ServiceArea.RegionCode.Description
                            </td>
                            <td></td>
                            <td></td>
                        </tr>

                        <tr>
                            <th>

                            </th>
                            <th>
                                Service ID
                            </th>
                            <th colspan="2">
                                Service Description
                            </th>
                            <th>

                            </th>
                            <th>

                            </th>
                        </tr>
                                    
                        groupIdentifier = tempGroupIdentifier;
                    }
                    
                     <tr>
                                        <td>

                                        </td>
                                        <td>
                                            @serviceGroupPricingDetailXRefList[index].ServiceID
                                        </td>
                                        <td colspan="2">
                                            @serviceGroupPricingDetailXRefList[index].Service.Description
                                        </td>
                                        <td>
                                            @serviceGroupPricingDetailXRefList[index].SubscriptionCharges
                                        </td>
                                        <td>
                                            @serviceGroupPricingDetailXRefList[index].OneTimeCharges
                                        </td>
                                    </tr>
                                        
                }
            }
        }

    </tbody>
</table>
