﻿@model Entity.ProductModels.ServiceGroupPricingDetailXRef


@{
    Layout = null;
}

@{
    int index = 0;
    if (ViewData["ServiceGroupPricingDetailXRefIndex"] != null)
    {
        index = (int)ViewData["ServiceGroupPricingDetailXRefIndex"];
    }    
}

<tr id="ServiceGroupPricingDetailXRefRow@(index)">
   
    @Html.GenerateHiddenControlsForReadOnly(Model, index)
    <td>
        
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayFor(model => model.ServiceID)
            </div>
        </div>
    </td>
    <td colspan="3">    
        <div class="form-group">
            <div class="col-md-10">
                @Html.DisplayFor(model => model.Service.Description)
            </div>
        </div>    
    </td>   
    <td>
        <div class="form-group">
            <div class="col-md-10">
                @Html.CustomEditorFor(model => model.SubscriptionCharges, false, index)
                @Html.CustomValidationMessageFor(model => model.SubscriptionCharges, index)
            </div>
        </div>
    </td>
    <td>
        <div class="form-group">
            <div class="col-md-10">
                @Html.CustomEditorFor(model => model.OneTimeCharges, false, index)
                @Html.CustomValidationMessageFor(model => model.OneTimeCharges, index)            
            </div>
        </div>


    </td>
</tr>
