﻿@model Entity.ProductModels.ServiceGroupDetailXRef


@{
    Layout = null;
}

    @{
        int index = 0;
        if (ViewData["ServiceGroupDetailXRefIndex"] != null)
        {
            index = (int)ViewData["ServiceGroupDetailXRefIndex"];
        }

        string idPrefix = Html.GetModelPrefix(Model, index) ;    
    }


<tr id="serviceGroupDetailXRefRow@(index)">
    <td>

        @Html.GenerateHiddenControlsForReadOnly(Model, index)
        
        @Html.TextBox(idPrefix + "ServiceName", (Model == null || Model.Service == null) ? string.Empty : Model.Service.Description, new { @readonly = "readonly" })
        @Html.CustomValidationMessageFor(model => model.ServiceID, index)
        @if (Model != null && !Model.CanWrite)
        {
            <button name="btnSearchService" id="btnSearchService" type="button" disabled><i class="fa fa-search"></i></button>
            <button name="btnDelete" id="btnDelete" type="button" disabled><i class="fa fa-trash"></i></button>
        }
        else
        {
            <button name="btnSearchService" id="btnSearchService" type="button" onclick="SearchService(@index);" ><i class="fa fa-search"></i></button>
            <button name="btnDelete" id="btnDelete" type="button" onclick="DeleteServiceDetailGroupXRef(@index);"><i class="fa fa-trash"></i></button>            
        }   
    </td>
</tr>
