﻿@model Entity.ProductModels.ServiceGroup

@{
    ViewBag.Title = "Create ServiceGroup";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="flexContainer">
        @Html.ValidationSummary(true)
        @Html.GenerateHiddenControlsForReadOnly(Model)
        @Html.Hidden("ServiceGroupIndex", Model == null ? 0 : Model.ServiceGroupDetailXRefs.Count)

        @Html.Hidden("hdnSearchResult")
        @{
            bool isReadOnly = false;

            if (Model == null)
            {
                isReadOnly = true;
            }
        }

        <div class="divSubHeader">
            Service Group
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ServiceGroupID, "Service Group ID")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.ServiceGroupID, true)
                        @Html.ValidationMessageFor(model => model.ServiceGroupID)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Name, "Name")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Name, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Name)
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.Description, "Description")
                    </div>
                    <div class="CellControl">
                        @Html.CustomEditorFor(model => model.Description, isReadOnly)
                        @Html.ValidationMessageFor(model => model.Description)
                    </div>
                </div>
            </div>
        </div>

        <div class="divSubHeader">
            Service(s)
        </div>

        <div id="divServiceGroupDetailList" class="tablebox-border-maxheight">
            <div>
                @if (Model != null && Model.HasServiceGroupPricing)
                {
                    <button name="btnServiceGroupDetailLNew" id="btnServiceGroupDetailLNew" type="button" disabled><i class="fa fa-plus"></i>  Service</button>
                }
                else
                {
                    <button name="btnServiceGroupDetailLNew" id="btnServiceGroupDetailLNew" type="button"><i class="fa fa-plus"></i>  Service</button>
                }
            </div>
            <table class="htmlTable-css" id="tableServiceGroupDetailXrefs" style="text-align:left;">
                <thead>
                    <tr>
                        <th>
                            Service Name
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        ViewData.Add("ServiceGroupDetailXRefIndex", 0);
                        if (Model != null)
                        {
                            List<Entity.ProductModels.ServiceGroupDetailXRef> groupDetailXRefList = Model.ServiceGroupDetailXRefs.ToList();
                            for (int index = 0; index < groupDetailXRefList.Count; index++)
                            {
                                ViewData["ServiceGroupDetailXRefIndex"] = index;
                                Html.RenderPartial("_ServiceGroupDetail", groupDetailXRefList[index]);
                            }
                        }
                    }
                </tbody>
            </table>
        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
        </div>
     
    </div>
        
        }

        @{
            // This is to initiate Service search as Modal Dialog
            COBRA.Models.ServiceSearchCriteriaModel searchModel = new COBRA.Models.ServiceSearchCriteriaModel();
            searchModel.IsModalDialog = true;
            Html.RenderPartial("Search/_SearchService", searchModel);
        }


        @section Scripts {
            @Scripts.Render("~/bundles/jqueryval", "~/Scripts/ViewCommonFunc.js")

            <script language="javascript">

                HideDeletedServiceDetailGroupXRef();

                $("#btnServiceGroupDetailLNew").click(function () {
                    var tempUrl = '@Url.Action("CreateServiceGroupDetailXRef", "ServiceGroup")';
                    CreateNewTableRowByIndex("tableServiceGroupDetailXrefs", tempUrl, "ServiceGroupIndex");

                    @*var currentIndex = 0;

                    $("#tableServiceGroupDetailXrefs tr").each(function (index, value) {
                        currentIndex++;
                    });
                    currentIndex = currentIndex - 2;
                    var tempUrl = '@Url.Action("CreateServiceGroupDetailXRef", "ServiceGroup")';
                    var postData = { index: currentIndex };
                    $.ajax({
                        async: false,
                        cache: false,
                        url: tempUrl,
                        data: postData,
                        success: function (data) {

                            $("#tableServiceGroupDetailXrefs tbody").append("'" + data + "'");

                        },
                        error: function (errorThrown) {
                            $(divToLoad).html(errorThrown.responseText);
                            alert(errorThrown.responseText);
                        }
                    });*@
                });

                function DeleteServiceDetailGroupXRef(selectedIndex) {
                    $("#tableServiceGroupDetailXrefs tbody").find("tr").each(function (index, value) {

                        if (selectedIndex == index) {
                            $(this).hide();
                            $("#ServiceGroupDetailXRefs_" + selectedIndex + "__RecordStatus").val(false);
                        }
                    });
                }

                function HideDeletedServiceDetailGroupXRef() {
                    $("#tableServiceGroupDetailXrefs tbody").find("tr").each(function (index, value) {
                        if ($("#ServiceGroupDetailXRefs_" + index + "__RecordStatus").val().toLowerCase() == "false") {
                            $(this).hide();
                        }
                    });
                }

         
                function SearchService(index) {
                    OpenServiceSearchDialog();
                    $("#hdnSearchResult").val(index);
                }

                function RefreshService(tempServiceID, tempServiceDesc) {
                    var index = $("#hdnSearchResult").val();
                    var objID = $("#ServiceGroupDetailXRefs_" + index + "__ServiceID");
                    var objName = $("#ServiceGroupDetailXRefs_" + index + "__ServiceName");
                    objID.val(tempServiceID);
                    objName.val(tempServiceDesc);
                    CloseServiceSearchDialog();
                }

            </script>
        }
