﻿@model Entity.ProductModels.ServiceGroupPricing
@{
    ViewBag.Title = "Update Pricing Details";
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="flexContainer">
        @Html.ValidationSummary(true)
        @Html.ValidationMessageFor(model => model.ServiceGroupPricingID)
        @Html.GenerateHiddenControlsForReadOnly(Model)

        @{
            bool isReadOnly = false;
            if (Model == null)
            {
                isReadOnly = true;
            }

            Html.AddCustomHTMLAttributes(model => model.ContractTermTypeCodeID, "onchange", "LoadPricingDetails();");
        }


        <div class="divSubHeader">
            Service Group Pricing Information
        </div>

        <div class="tablebox-border-max400">
            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.Label("lbServiceGroup", "Service Group")
                    </div>
                    <div class="CellControl">
                        @Html.TextBox("ServiceGroupName", (string)ViewBag.ServiceGroupName, new { @readonly = "readonly" })                        
                        @Html.ValidationMessageFor(model => model.ServiceGroupPricingID)
                        @Html.ValidationMessageFor(model => model.ServiceGroupID)
                        <button name="btnSearchGroup" id="btnSearchGroup" type="button" onclick="OpenSearchServiceGroups();"><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="rowSmartLayout">
                <div class="twoCol-1-CellSmartLayout">
                    <div class="CellLabel">
                        @Html.LabelFor(model => model.ContractTermTypeCodeID, "Contract Term")
                    </div>
                    <div class="CellControl">
                        @Html.CustomDropDownFor(model => model.ContractTermTypeCodeID, Model)
                        @Html.ValidationMessageFor(model => model.ContractTermTypeCodeID)
                    </div>
                </div>
            </div>

            @if (Model != null && Model.ServiceGroupPricingID > 0)
            {
                <div class="rowSmartLayout">
                    <div class="twoCol-1-CellSmartLayout">
                        <div class="CellLabel">
                            @Html.LabelFor(model => model.EffectiveDate, "Effective Date")
                        </div>
                        <div class="CellControl">
                            @Html.CustomEditorFor(model => model.EffectiveDate, false)
                            @Html.ValidationMessageFor(model => model.EffectiveDate)
                        </div>
                    </div>
                </div>
            }
        </div>

        <div class="divSubHeader">
            Service Group Pricing Details
        </div>


        <div id="divServiceGroupPricingDetailsList" class="tablebox-border-maxheight">      
            <div>
               
            </div>    
            <table class="htmlTable-css" id="tableServiceGroupPricingDetailXrefs">
                <thead>
                    @if (Model != null && Model.Version > 0)
                    {
                        <tr>
                            <td>Version : @Model.Version</td>
                        </tr>
                    }

                    <tr>
                        <th>

                        </th>
                        <th>
                            Category
                        </th>
                        <th>
                            State
                        </th>
                        <th>
                            City
                        </th>
                        <th>
                            Region
                        </th>
                        <th>
                            Subscription Charges
                        </th>
                        <th>
                            OneTime Charges
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        ViewData.Add("ServiceGroupPricingDetailXRefIndex", 0);
                        if (Model != null)
                        {
                            List<Entity.ProductModels.ServiceGroupPricingDetailXRef> serviceGroupPricingDetailXRefList = Model.ServiceGroupPricingDetailXRefs.ToList()
                                .OrderBy(detail => detail.OrderedPricingGroupKey)
                                .ThenBy(detail => detail.ServiceID)
                                .ToList();

                            string groupIdentifier = string.Empty;
                            int serviceCount = (int)ViewBag.ServiceCount;

                            for (int index = 0; index < serviceGroupPricingDetailXRefList.Count; index++)
                            {
                                string tempGroupIdentifier = serviceGroupPricingDetailXRefList[index].PricingGroupKey;
                                if (string.IsNullOrEmpty(groupIdentifier)
                                    || groupIdentifier != tempGroupIdentifier)
                                {
                                    bool isActive = serviceGroupPricingDetailXRefList[index].RecordStatus;
                                    <tr>
                                        <td>
                                            @if (isActive)
                                            {
                                                <input type="checkbox" id="chkSelectPricing_@index" onchange="RemovePricingDetails('@index', '@serviceCount');" checked />
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="chkSelectPricing_@index" onchange="RemovePricingDetails('@index', '@serviceCount');" />
                                            }
                                        </td>
                                        <td>
                                            @serviceGroupPricingDetailXRefList[index].CategoryCode.Description
                                        </td>
                                        <td>
                                            @serviceGroupPricingDetailXRefList[index].ServiceArea.StateCode.Description
                                        </td>
                                        <td>
                                            @serviceGroupPricingDetailXRefList[index].ServiceArea.CityCode.Description
                                        </td>
                                        <td>
                                            @serviceGroupPricingDetailXRefList[index].ServiceArea.RegionCode.Description
                                        </td>
                                        <td></td>
                                        <td></td>
                                    </tr>

                                                <tr>
                                                    <th>

                                                    </th>
                                                    <th>
                                                        Service ID
                                                    </th>
                                                    <th colspan="3">
                                                        Service Description
                                                    </th>
                                                    <th>

                                                    </th>
                                                    <th>

                                                    </th>
                                                </tr>

                                    groupIdentifier = tempGroupIdentifier;
                                }

                                ViewData["ServiceGroupPricingDetailXRefIndex"] = index;
                                Html.RenderPartial("_PricingDetailXRef", serviceGroupPricingDetailXRefList[index]);
                            }
                        }
                    }

                </tbody>
            </table>          
        </div>

        <div class="divButton-right">
            <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
        </div>
    </div>    
}

@{
    // This is to initiate Service search as Modal Dialog
    COBRA.Models.ServiceGroupSearchCriteriaModel searchModel = new COBRA.Models.ServiceGroupSearchCriteriaModel();
    searchModel.IsModalDialog = true;
    Html.RenderPartial("Search/_SearchServiceGroup", searchModel);
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")


    <script language="javascript">
       
        function OpenSearchServiceGroups() {
            OpenServiceGroupSearchDialog();
        }

        function RefreshServiceGroup(tempServiceGroupID, tempServiceGroup) {

            $("#ServiceGroupID").val(tempServiceGroupID);
            $("#ServiceGroupName").val(tempServiceGroup);

            CloseServiceGroupSearchDialog();

            var tempContractTermTypeCodeID = $("#ContractTermTypeCodeID").val();
            if (tempContractTermTypeCodeID > 0) {
                LoadPricingDetails();
            }
        }

        function LoadPricingDetails() {
            var tempServiceGroupID = $("#ServiceGroupID").val();

            if (tempServiceGroupID <= 0) {
                alert("Please select Service Group!!");
                return;
            }

            var tempContractTermTypeCodeID = $("#ContractTermTypeCodeID").val();
            var tempUrl = '@Html.Raw(Url.Action("PricingDetails", "ServiceGroup", new { pServiceGroupID = -111, pContractTermTypeCodeID = -222 }))';
            tempUrl = tempUrl.replace("-111", tempServiceGroupID);
            tempUrl = tempUrl.replace("-222", tempContractTermTypeCodeID);
            location.href = tempUrl;
        }

        function RemovePricingDetails(index, serviceCount)
        {
            if ($("#chkSelectPricing_" + index).is(':checked')) {
                for (var currentIndex = index; currentIndex < index + serviceCount; currentIndex++)
                    $("#ServiceGroupPricingDetailXRefs_" + currentIndex + "__RecordStatus").val(true);
            }
            else {
                for (var currentIndex = index; currentIndex < index + serviceCount; currentIndex++)
                    $("#ServiceGroupPricingDetailXRefs_" + currentIndex + "__RecordStatus").val(false);
            }
        }        
</script>
}
