﻿@{
    Layout = null;

}

@model Entity.Model.CustomerModels.Customer
@using System.Web.Mvc;
@using (Html.BeginForm("Registration", "Customer", FormMethod.Post, new { id = "frmCustomer" }))
{
    @Html.AntiForgeryToken();
    
    <div class="divSubHeader">
        @Html.ValidationSummary(true)        
        @Html.Hidden("CustomerAttributeIndex", Model == null ? 0 : Model.CustomerAttributes.Count)
        @Html.GenerateHiddenControlsForReadOnly(Model)
        @{
                            bool isReadOnly = false;
                            if (Model == null)
                            {
                                isReadOnly = true;
                            }


                            Html.AddDefualtHTMLAttributes(model => model.CategoryCodeID);
        }

        Customer Details
    </div>
    
    <div class="tablebox-border-max400">
        <div class="rowSmartLayout">
            <div class="threeCol-1-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.CustomerNo, "Customer No")
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.CustomerNo, true)     
                                            @Html.ValidationMessageFor(model => model.CustomerID)                                       
                                        </div>
                                    </div>

                                    <div class="threeCol-2-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.LastName)
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.LastName, isReadOnly)
                                            @Html.ValidationMessageFor(model => model.LastName)
                                        </div>
                                    </div>

                                    <div class="threeCol-3-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.FirstName)
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.FirstName, isReadOnly)
                                            @Html.ValidationMessageFor(model => model.FirstName)
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="rowSmartLayout">
                                    <div class="threeCol-1-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.MiddleName)
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.MiddleName, isReadOnly)
                                            @Html.ValidationMessageFor(model => model.MiddleName)
                                        </div>
                                    </div>
                                    <div class="threeCol-2-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.CategoryCodeID, "Category")
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomDropDownFor(model => model.CategoryCodeID, Model)
                                            @Html.ValidationMessageFor(model => model.CategoryCodeID)
                                        </div>
                                    </div>

                                    <div class="threeCol-3-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.Email)
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.Email, isReadOnly)
                                            @Html.ValidationMessageFor(model => model.Email)
                                        </div>
                                    </div>                                    
                                </div>

                                <div class="rowSmartLayout">
                                    <div class="threeCol-1-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.Mobile)
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.Mobile, isReadOnly)
                                            @Html.ValidationMessageFor(model => model.Mobile)
                                        </div>
                                    </div>
                                    <div class="threeCol-2-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.Landline)
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.Landline, isReadOnly)
                                            @Html.ValidationMessageFor(model => model.Landline)
                                        </div>
                                    </div>

                                    <div class="threeCol-3-CellSmartLayout">
                                        <div class="CellLabel">
                                                @Html.LabelFor(model => model.BillingOptionTypeCodeID, "Billing Option")
                                            </div>
                                            <div class="CellControl">
                                                @foreach (SelectListItem item in ((SelectList)ViewBag.BillingOptionTypeCodeList).ToList())
                                                {
                                                    if (Model != null
                                                        && Model.CustomerBillingOptionsXRefs.ToList().Exists(billing => billing.RecordStatus && billing.TypeCodeID.ToString() == item.Value))
                                                    {
                                                        <input type="checkbox" name="chkBillingOptions" value="@item.Value" checked />@item.Text
                                                    }
                                                    else
                                                    {
                                                        <input type="checkbox" name="chkBillingOptions" value="@item.Value" />@item.Text
                                                    }
                                                }
                                            </div>
                                    </div>
                                </div>
                            </div>

    <div class="divSubHeader">
                                Parent Child Information
                            </div>

                            <div class="tablebox-border-max400">
                                <div class="rowSmartLayout">
                                    <div class="threeCol-1-CellSmartLayout">
                                        <div class="CellLabel">
                                            @Html.Label("ParentOrChild", "Select")
                                        </div>
                                        <div class="CellControl">         
                                            @Html.Label("IsParentOrChild", "Parent")                                   
                                            @Html.RadioButton("rdIsParent", 0, Model == null ? true : Model.IsParent)                                            
                                            @Html.Label("IsParentOrChild", "Child")
                                            @Html.RadioButton("rdIsChild", 1, Model == null ? false : !Model.IsParent)                                          
                                        </div>
                                    </div>

                                    <div class="threeCol-2-CellSmartLayout" id="divParentCustomer">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.ParentCustomerID, "Parent Customer")
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomEditorFor(model => model.ParentCustomerID, true)
                                            <button name="btnSearchParentCustomer" id="btnSearchParentCustomer"  type="button" onclick="SearchCustomers('ParentCustomerID');"><i class="fa fa-search"></i></button>                                            
                                        </div>
                                    </div>

                                    <div class="threeCol-3-CellSmartLayout" id="divBillingToParent">
                                        <div class="CellLabel">
                                            @Html.LabelFor(model => model.BillingToParentCodeID, "BillingToParent")
                                        </div>
                                        <div class="CellControl">
                                            @Html.CustomDropDownFor(model => model.BillingToParentCodeID, Model)
                                        </div>
                                    </div>
                                </div>
                            </div>                            

                             <div class="divSubHeader">
                                 Address Information
                            </div>
                        
                            <div class="tablebox-border-max400">
                                <div class="rowSmartLayout">
                                <div class="twoCol-1-CellSmartLayout">
                                    <div>
                                        Billing Address
                                    </div>
                                    <div>
                                        @{
                                            ViewData.Add("AddressIndex", 0);
                                            Html.RenderPartial("_CustomerAddress", Model == null ? null : Model.CustomerAddressXRefs.ToList()[0]);
                                        }
                                    </div>
                                    <div>
                                        
                                    </div>
                                </div>
                                <div class="twoCol-2-CellSmartLayout">
                                    <div>
                                        <span>
                                            Primary Address &nbsp;&nbsp;
                                            <input type="checkbox" id="chkAddressCopy" onclick="CopyAddress();" />Same as Billing Address?                                                
                                        </span>
                                    </div>                                                                                                                  
                                    <div id="divHomeAddress">
                                        @{  
                                            ViewData["AddressIndex"] = 1;
                                            Html.RenderPartial("_CustomerAddress", Model == null ? null : Model.CustomerAddressXRefs.ToList()[1]);
                                        }
                                    </div>
                                </div>
                            </div>
                            </div>
    
                            <div class="divSubHeader">
                                Attributes
                            </div>

                            <div class="tablebox-border-fixed150" id="divAttributeList">
                                <div>                                    
                                    <button name="btnAttributeNew" id="btnAttributeNew" type="button" ><i class="fa fa-plus"></i>  Attribute</button>    
                                </div>
                                <table class="htmlTable-css" id="tableAttributes">
                                    <thead>                                       
                                        <tr>
                                            <th>
                                                Attribute Category
                                            </th>
                                            <th>
                                                Attribute Type
                                            </th>
                                            <th>
                                                Attribute Value
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            ViewData.Add("AttributeIndex", 0);
                                            if (Model != null)
                                            {
                                                for (int index = 0; index < Model.CustomerAttributes.Count; index++)
                                                {
                                                    ViewData["AttributeIndex"] = index;
                                                    Html.RenderPartial("_CustomerAttribute", Model.CustomerAttributes.ToList()[index]);
                                                }
                                            }
                                        }
                                    </tbody>
                                </table>

                            </div>
    
                            <div class="divButton-right">                                
                                <button name="btnsave" type="submit"><i class="fa fa-save"></i>  Save</button>
                            </div>
                            
}
