﻿@model Entity.Model.CustomerModels.CustomerAddressXRef

@{
    Layout = null;
}

<div >
        @Html.ValidationSummary(true)
        @{
            bool isReadOnly = false;
            int index = 0;
            if (Model == null)
            {
                isReadOnly = true;
            }

            if (ViewData["AddressIndex"] != null)
            {
                index = (int)ViewData["AddressIndex"];
            }
           
            if (Model != null)
            {
                string stateCodeClientID = Html.ClientIDFor(model => model.StateCodeID, index);
                string cityCodeClientID = Html.ClientIDFor(model => model.CityCodeID, index);
                string regionCodeClientID = Html.ClientIDFor(model => model.RegionCodeID, index);

                Html.AddCustomHTMLAttributes(model => model.StateCodeID, "onchange", "PopulateCascadingDropDown(\'" + stateCodeClientID + "\', \'" + cityCodeClientID + "\');", index);
                Html.AddCustomHTMLAttributes(model => model.CityCodeID, "onchange", "PopulateCascadingDropDown(\'" + cityCodeClientID + "\', \'" + regionCodeClientID + "\');", index);
                Html.AddDefualtHTMLAttributes(model => model.RegionCodeID);
            }
        }
      
        @Html.GenerateHiddenControlsForReadOnly(Model, index)
        <div class="rowSmartLayout">
            <div class="twoCol-1-CellSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(model => model.AddressLine1)
                </div>
                <div class="CellControl">
                    @Html.CustomEditorFor(model => model.AddressLine1, isReadOnly, index)
                    @Html.CustomValidationMessageFor(model => model.AddressLine1, index)                    
                </div>
            </div>
            <div class="twoCol-2-CellSmartLayout">
                <div class="CellLabel">
                    @Html.LabelFor(model => model.AddressLine2)
                </div>
                <div class="CellControl">
                    @Html.CustomEditorFor(model => model.AddressLine2, isReadOnly, index)
                    @Html.CustomValidationMessageFor(model => model.AddressLine2, index)                    
                </div>
            </div>
        </div>

         <div class="rowSmartLayout">
        <div class="twoCol-1-CellSmartLayout">
            <div class="CellLabel">
                @Html.LabelFor(model => model.StateCodeID, "State")
            </div>
            <div class="CellControl">
                @Html.CustomDropDownFor(model => model.StateCodeID, Model, index)
                @Html.CustomValidationMessageFor(model => model.StateCodeID, index)                                           
            </div>
        </div>
        <div class="twoCol-2-CellSmartLayout">
            <div class="CellLabel">
                @Html.LabelFor(model => model.CityCodeID, "City")
            </div>
            <div class="CellControl">
                @Html.CustomDropDownFor(model => model.CityCodeID, Model, index)
                @Html.CustomValidationMessageFor(model => model.CityCodeID, index)  
            </div>
        </div>
    </div>

    <div class="rowSmartLayout">
        <div class="twoCol-1-CellSmartLayout">
            <div class="CellLabel">
                @Html.LabelFor(model => model.RegionCodeID, "Region")
            </div>
            <div class="CellControl">
                @Html.CustomDropDownFor(model => model.RegionCodeID, Model, index)
                @Html.CustomValidationMessageFor(model => model.RegionCodeID, index)                          
            </div>
        </div>       
    </div>

        @*<tr class="rowstyle">
            <td id="uxPgCPH_tdpartytype" class="column1">
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressLine1, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CustomEditorFor(model => model.AddressLine1, isReadOnly, index)   
                        @Html.CustomValidationMessageFor(model => model.AddressLine1, index)                                            
                    </div>
                </div>
            </td>
            <td id="uxPgCPH_tdcusttype" class="column2">
                <div class="form-group">
                    @Html.LabelFor(model => model.AddressLine2, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CustomEditorFor(model => model.AddressLine2, isReadOnly, index) 
                        @Html.CustomValidationMessageFor(model => model.AddressLine2, index)                                                
                    </div>
                </div>
            </td>
        <tr class="altrowstyle">
            <td id="uxPgCPH_tdpartytype" class="column1">
                <div class="form-group">
                    @Html.LabelFor(model => model.StateCodeID, "State", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CustomDropDownFor(model => model.StateCodeID, Model, index)                                                    
                        @Html.CustomValidationMessageFor(model => model.StateCodeID, index)                                           
                    </div>
                </div>
            </td>
            <td id="uxPgCPH_tdcusttype" class="column2">
                <div class="form-group">
                    @Html.LabelFor(model => model.CityCodeID, "City", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CustomDropDownFor(model => model.CityCodeID, Model, index)                                                                    
                        @Html.CustomValidationMessageFor(model => model.CityCodeID, index)                          
                    </div>
                </div>
            </td>
        <tr class="rowstyle">
            <td id="uxPgCPH_tdpartytype" class="column1">
                <div class="form-group">
                    @Html.LabelFor(model => model.RegionCodeID, "Region", new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.CustomDropDownFor(model => model.RegionCodeID, Model, index)                                                                     
                        @Html.CustomValidationMessageFor(model => model.RegionCodeID, index)                          
                    </div>
                </div>
            </td>
            </td>
        </tr>

    </table>*@

</div>







