﻿@model Entity.Model.CustomerModels.CustomerAttribute


@{
    Layout = null;
}

@{
    int index = 0;
    if (ViewData["AttributeIndex"] != null)
    {
        index = (int)ViewData["AttributeIndex"];
    }
   
    if (Model != null)
    {
        Html.AddDefualtHTMLAttributes(model => model.CategoryCodeID);
        Html.AddDefualtHTMLAttributes(model => model.TypeCodeID);
    }
}

<tr id="attributeRow@(index)">
    <td>
      
        @Html.GenerateHiddenControlsForReadOnly(Model, index)

        @Html.CustomDropDownFor(model => model.CategoryCodeID, Model, index)     
        @Html.CustomValidationMessageFor(model => model.CategoryCodeID, index)
    </td>

    <td>
        @Html.CustomDropDownFor(model => model.TypeCodeID, Model, index)     
        @Html.CustomValidationMessageFor(model => model.TypeCodeID, index)        
    </td>

    <td>
        @Html.CustomEditorFor(model => model.AttributeValue, false, index)
        @Html.CustomValidationMessageFor(model => model.AttributeValue, index)     
        <button name="btnsave" id="btnDelete" type="button" onclick="DeleteAttribute(@index);"><i class="fa fa-trash"></i></button>                                                       
    </td>
</tr>

