﻿@model Entity.Model.CustomerModels.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div id="accordion">
    <h3>Customer Information</h3>
    <div>
        @{ Html.RenderPartial("Customer/_CustomerDemographicDisplay", Model); }
    </div>
  
    <h3>Attribute Information</h3>
    <div class="tablebox-border-max400">
       @{ Html.RenderPartial("Customer/_CustomerAttributeDisplay", Model);}
    </div>

    @if (Model.ParentCustomer != null)
    {
        <h3>Parent Customer Information</h3>
        <div>
            @{ Html.RenderPartial("Customer/_CustomerDemographicDisplay", Model.ParentCustomer); }
        </div>
    }

    @if (Model.ChildCustomers != null && Model.ChildCustomers.Count > 0)
    {
        <h3>Child Customer(s)</h3>
        <div>
            @{ Html.RenderPartial("Customer/_CustomerChildCustomersDisplay", Model); }
        </div>
    }

    <h3>Contracts</h3>
    <div>
        <div class="tablebox-border-max400">
            @{ Html.RenderAction("CustomerContracts", "Contract", new { pCustomerID = Model.CustomerID }); }
        </div>       
    </div>

    <h3>Billing</h3>
    <div>
        <div class="tablebox-border-max400">
            @{ Html.RenderAction("GenerateCustomerBilling", "Billing", new { pCustomerID = Model.CustomerID }); }
        </div>
    </div>

            
</div>


<script>
	$(function() {
		$( "#accordion" ).accordion({
			collapsible: true
		});
	});



    function ExportBillingToPDF(pCustomerBillingID)
    {
        var tempUrl = '@Url.Action("ExportToPDF", "Billing", new  { pBillingID = "-111" })';
        tempUrl = tempUrl.replace("-111", pCustomerBillingID);
        window.open(tempUrl, "_blank");
    }

</script>

