﻿@model Entity.Model.CustomerModels.Customer
@{
    ViewBag.Title = "Registration";    
    Layout = "~/Views/Shared/_LayoutSearch.cshtml";
}

<div class="form-box" id="divCustomer">
    <input type="hidden" id="hdnSearchResult" />
    @{Html.RenderPartial("_Customer", Model);}  
</div>


    @{

        // This is to initiate Service search as Modal Dialog
        COBRA.Models.CustomerSearchCriteriaModel searchModel = new COBRA.Models.CustomerSearchCriteriaModel();
        searchModel.IsModalDialog = true;
        Html.RenderPartial("Search/_SearchCustomer", searchModel);
    }








@section Scripts {
    
    
    <script language="javascript">

        $(document).ready(function () {
            HideDeletedRows("tableAttributes", "CustomerAttributes");

            if ($("#IsParent").val().toLowerCase() == "false") {                
                $("#divParentCustomer").show();
                $("#divBillingToParent").show();
                $("#btnSearchParentCustomer").removeAttr("disabled");
            }
            else {                
                $("#divParentCustomer").hide();
                $("#divBillingToParent").hide();
                $("#btnSearchParentCustomer").prop("disabled", true);
            }
        });
         
    
    $("#btnAttributeNew").click(function () {        
        var tempUrl = '@Url.Action("CreateCustomerAttribute", "Customer")';        
        CreateNewTableRowByIndex("tableAttributes", tempUrl, "CustomerAttributeIndex");
    });

        $("#rdIsParent").click(function () {
            
        $("#rdIsChild").removeAttr("checked");
        $("#divParentCustomer").hide();
        $("#divBillingToParent").hide();
        $("#ParentCustomerID").val("");
        $("#IsParent").val(true);
        $("#btnSearchParentCustomer").prop("disabled", true);
    });

        $("#rdIsChild").click(function () {            
        $("#rdIsParent").removeAttr("checked");
        $("#divParentCustomer").show();
        $("#divBillingToParent").show();
        $("#IsParent").val(false);
        $("#btnSearchParentCustomer").removeAttr("disabled");
    });

    function OnDropdownSelect(dropDownControlID, hiddenControlID) {
        var selObj = document.getElementById(dropDownControlID);
        var hiddenObj = document.getElementById(hiddenControlID);
        hiddenObj.value = selObj.value;
    }

    function DeleteAttribute(selectedIndex) {
        DeleteRow(selectedIndex, "tableAttributes", "CustomerAttributes");
    }


    function SearchCustomers(controlToPopulate) {
        $("#hdnSearchResult").val(controlToPopulate);            
        OpenCustomerSearchDialog();
    }

    function RefreshCustomer(tempCustomerID, customerNo) {
        
        var tmpControlToPopulate = $("#hdnSearchResult").val();        
        $("#" + tmpControlToPopulate).val(customerNo);        
        if (tmpControlToPopulate == "ParentCustomerID") {
            $("#" + tmpControlToPopulate).val(tempCustomerID);                        
            CloseCustomerSearchDialog();
            return;
        }     
    }

    function CopyAddress() {
        if ($("#chkAddressCopy").is(':checked')) {
            $("#CustomerAddressXRefs_1__AddressLine1").val($("#CustomerAddressXRefs_0__AddressLine1").val());
            $("#CustomerAddressXRefs_1__AddressLine2").val($("#CustomerAddressXRefs_0__AddressLine2").val());
            $("#CustomerAddressXRefs_1__StateCodeID").val($("#CustomerAddressXRefs_0__StateCodeID").val());
            PopulateCascadingDropDownByValue($("#CustomerAddressXRefs_0__StateCodeID").val(), "CustomerAddressXRefs_1__CityCodeID", $("#CustomerAddressXRefs_0__CityCodeID").val());
            PopulateCascadingDropDownByValue($("#CustomerAddressXRefs_0__CityCodeID").val(), "CustomerAddressXRefs_1__RegionCodeID", $("#CustomerAddressXRefs_0__RegionCodeID").val());
        }
        else {
            $("#CustomerAddressXRefs_1__AddressLine1").val("");
            $("#CustomerAddressXRefs_1__AddressLine2").val("");
            $("#CustomerAddressXRefs_1__StateCodeID").val("");
            $("#CustomerAddressXRefs_1__CityCodeID").val("");
            $("#CustomerAddressXRefs_1__RegionCodeID").val("");
        }

    }

    // Cascading Dropdown functionality
    function PopulateCascadingDropDown(parentDropDownId, cascadingDropDownId) {
        var tempUrl = '@(Url.Action("GetCascadingList", "Customer"))';
        GetCascadingDropDown(parentDropDownId, cascadingDropDownId, tempUrl);
    }

    function PopulateCascadingDropDownByValue(parentSelectedValue, cascadingDropDownId, defaultValue) {
        var tempUrl = '@(Url.Action("GetCascadingList", "Customer"))';
            GetCascadingDropDownListByValue(parentSelectedValue, cascadingDropDownId, defaultValue, tempUrl);
            var cascadingDropDown = $("#" + cascadingDropDownId);
    }         
</script>
}

